<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../src/css/main.css">
<!--<script src="../src/js/main.js"></script>-->
<!--<script src="../../bower_components/util.js/util.js"></script>-->
<dom-module id="header-nav">
	<template>
		<header id="header">
						<h1><a href="../../index.html">BidFather</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="../../index.html">Home</a></li>
											<li><a href="../../aboutus.html">About us</a></li>
											<li><a href="../../contacts.html">Contacts</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

	</template>

</dom-module>
<script>
	Polymer ({
		is: "header-nav"
	})
</script>
