<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="add-to-cart">
    <style>:host {
    }

    paper-dialog.add-size-position {
        position: fixed;
        top: 30%;
        left: 30%;
        min-width: 200px;
        min-height: 200px;
        width: 15%;
        height: auto;
        overflow: auto;
    }

    p, h2 {
        word-wrap: break-word;
    }</style>
    <template>
        <content>
            <paper-icon-button icon="icons:add-shopping-cart" id="paper_button" on-tap="_addToCart"></paper-icon-button>
            <div id="content">
            </div>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'add-to-cart',
        properties: {
            item: Object,


            //deprecated
            index: Number,
            title: String,
            description: String,
            url: String,
            image: String,
            largeImage: String,
            type: String,
            color: String,
            start: Number,
            duration: Number
        },
        ready: function () {

        },
        _addToCart: function () {
            console.info('adding item to cart');

            this.item['title'] = this.item.name;


            this.item["image"] = "/media/" + this.item.image;
            this.item["largeImage"] = "/media/" + this.item.image;

            document.querySelector('shopping-cart').fire('add-cart-item', {item: this.item});
        },
        content: function () {

        }
    });
</script>
