<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="audio-element">
    <style>
        :host {
        }
    </style>
    <template>
        <content>
            <p>[[title]]</p>
            <audio id="music" preload="true"></audio>
            <paper-slider id="audio_progress" style="width:100%;"></paper-slider>
            <paper-icon-button id="pButton" icon="av:play-arrow"></paper-icon-button>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'audio-element',
        properties: {
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            url: String,
        },
        ready: function () {
            this.customStyle['--paper-slider-knob-color'] = this.color;
            this.customStyle['--paper-slider-active-color'] = this.color;
            this.updateStyles();

            this.$.pButton.style['color'] = this.color;
            this.$.audio_progress.style['color'] = this.color;

            var target = this;
            var duration;
            var music = this.$.music; // id for audio element
            var pButton = this.$.pButton; // play button
            var progress = this.$.audio_progress;
            music.src = this.url;
            progress.max = 100;
            progress.value = 0;
            // timeupdate event listener
            music.addEventListener("timeupdate", timeUpdate, false);

            function timeUpdate() {
                var playPercent = 100 * (music.currentTime / duration);
                progress.value = playPercent;
                if (music.currentTime == duration) {
                    pButton.icon = "av:pause";
                }
            }

            //Play and Pause
            function play() {
                // start music
                if (music.paused) {
                    music.play();
                    pButton.icon = "av:pause";
                }
                else {
                    music.pause();
                    pButton.icon = "av:play-arrow";
                }
            }

            // Gets audio file duration
            music.addEventListener("canplaythrough", function () {
                duration = music.duration;
            }, false);

            pButton.addEventListener('tap', play, false);


        },
    });
</script>


