<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">


<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="camera-input">
    <style>
        :host {
            position: relative;
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
        }
    </style>
    <template>
        <content>
            <iron-image sizing="contain" id="display"></iron-image>
            <div style="position:relative;">

                <paper-progress style="width:100%;" id="paper_progress"></paper-progress>
                <br>

                <paper-input id="paper_input" on-tap="handleFile" readonly="true" label="[[title]]">
                    <iron-icon icon="[[icon]]" prefix></iron-icon>
                </paper-input>
            </div>
            <input
                    class="hidden-input"
                    name="[[data_name]]"
                    id="hidden_input"
                    type="text"
                    value="{{imagepath}}"
                    maxlength="[[maxlength]]"
                    pattern="[[pattern]]"
                    required="[[required]]"/>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'camera-input',
        properties: {
            data_name: String,
            icon: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
        },
        ready: function () {
            this.customStyle['--paper-progress-active-color'] = this.color;
            this.customStyle['--paper-progress-secondary-color'] = this.color;
            this.updateStyles();

            this.$.paper_progress.style['display'] = 'none';
            this.imagepath = "";
        },
        uuid: function () {
            return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
        },
        handleFile: function () {
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                destinationType: Camera.DestinationType.DATA_URL
            });
            var progress = this.$.paper_progress;
            progress.value = 0;
            progress.style['display'] = 'block';
            var target = this;
            var display = this.$.display;
            var paper_input = this.$.paper_input;

            function onSuccess(imageData) {
                var b64file = 'data:image/png;base64,' + imageData;
                var file = target.dataURItoBlob(b64file);

                var reader = new FileReader();
                reader.onload = function (e) {

                    var xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (e) {
                        if (e.lengthComputable) {
                            var percentage = Math.round((e.loaded * 100) / e.total);
                            progress.value = percentage;
                            paper_input.label = percentage + '% complete';
                        }
                    }, false);

                    xhr.open("post", target.protocol + '//' + target.hostname + "/api/upload-temp-file/", true);
                    // Set appropriate headers
                    //xhr.setRequestHeader("Content-Type", "multipart/form-data");
                    file.name = file.name || target.uuid() + '.png'
                    xhr.setRequestHeader("X-File-Name", file.name);
                    xhr.setRequestHeader("X-File-Size", file.size);
                    xhr.setRequestHeader("X-File-Type", file.type);

                    var fd = new FormData();
                    fd.append('image', file, file.name)
                    xhr.send(fd)

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState < 4)                         // while waiting response from server
                            paper_input.label = "Loading...";
                        else if (xhr.readyState === 4) {                // 4 = Response from server has been completely loaded.
                            if (xhr.status > 199 && xhr.status < 300) {  // http status between 200 to 299 are all successful
                                response = JSON.parse(xhr.responseText);
                                if ('response_status' in response && response.response_status == '00') {
                                    paper_input.label = "Image successfully uploaded. Please Proceed!";
                                    src = reader.result;
                                    //img = src.split(',')[1]
                                    target.imagepath = response.response;//Bind Image Path

                                    display.style["width"] = "100%";
                                    display.style["height"] = "200px";
                                    display.style["background-color"] = "lightgray";
                                    display.src = src;
                                }
                                else {
                                    if ('response' in response) {
                                        paper_input.label = response.response;
                                    }
                                    else {
                                        paper_input.label = 'Upload Failed.';
                                    }
                                }
                            } else {
                                console.log('Failed to Upload');
                            }
                        }
                    }

                }

                reader.readAsDataURL(file);//Call onload
            }

            function onFail(message) {
                paper_input.label = 'Failed because: ' + message;
            }


        },

        dataURItoBlob: function (dataURI) {
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
            var data = window.atob(dataURI.split(',')[1]);
            var length = data.length;
            var ab = new ArrayBuffer(length);   // added this line
            var ia = new Uint8Array(ab);
            for (var i = 0; i < length; ++i) {
                ia[i] = data.charCodeAt(i);
            }
            try {
                return new Blob([ab], {type: mimeString});
            } catch (e) {
                //var BlobBuilder = window.WebKitBlobBuilder || window.MozBlobBuilder;
                var BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder || window.MSBlobBuilder;
                var bb = new BlobBuilder();
                bb.append(ab);
                return bb.getBlob(mimeString);
            }
        },

    });
</script>


