<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="container-element">
	<style>
		
		.cointener {
			background-color: #000;
			width: 100%;
			height: 900px;
		}
	</style>
	<template>
		
	<div class="cointener"></div>
	</template>

</dom-module>
<script>
	Polymer ({
		is: "container-element"
	})
</script>
