<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../src/css/main_landing.css">
<dom-module id="contact-details">
	<template>

<style>
	section{
		display: block;
		background-color: #BF0300;
	}
	@media (min-width: 1200px){
      .sppb-container {
	
    width: 1170px;}
    }

    .sppb-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after, .sppb-container:before, .sppb-container:after, .sppb-container-fluid:before, .sppb-container-fluid:after, .sppb-row:before, .sppb-row:after, .sppb-panel-body:before, .sppb-panel-body:after, .sppb-nav:before, .sppb-nav:after {
    content: " ";
    display: table;
}
#sp-page-builder .sppb-section-title {
    margin-bottom: 50px;
}
.sppb-text-center {
    text-align: center;
}
#sp-page-builder .sppb-section-title .sppb-title-heading {
    margin-top: 0;
    border: 0;
}
#sp-page-builder .sppb-section-title.sppb-text-center .sppb-title-subheading {
    display: inline-block;
    max-width: 80%;
}
#sp-page-builder .sppb-section-title .sppb-title-subheading {
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
#sp-page-builder * {
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}
p {
    margin: 0 0 10px;
}
p {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.sppb-row {
    margin-left: -15px;
    margin-right: -15px;
}
div {
    display: block;
}
@media (min-width: 768px){
.sppb-col-sm-4 {
    width: 33.33333333%;}
}
@media (min-width: 768px){
.sppb-col-sm-1, .sppb-col-sm-2, .sppb-col-sm-3, .sppb-col-sm-4, .sppb-col-sm-5, .sppb-col-sm-6, .sppb-col-sm-7, .sppb-col-sm-8, .sppb-col-sm-9, .sppb-col-sm-10, .sppb-col-sm-11, .sppb-col-sm-12 {
    float: left;}
}
.sppb-col-xs-1, .sppb-col-sm-1, .sppb-col-md-1, .sppb-col-lg-1, .sppb-col-xs-2, .sppb-col-sm-2, .sppb-col-md-2, .sppb-col-lg-2, .sppb-col-xs-3, .sppb-col-sm-3, .sppb-col-md-3, .sppb-col-lg-3, .sppb-col-xs-4, .sppb-col-sm-4, .sppb-col-md-4, .sppb-col-lg-4, .sppb-col-xs-5, .sppb-col-sm-5, .sppb-col-md-5, .sppb-col-lg-5, .sppb-col-xs-6, .sppb-col-sm-6, .sppb-col-md-6, .sppb-col-lg-6, .sppb-col-xs-7, .sppb-col-sm-7, .sppb-col-md-7, .sppb-col-lg-7, .sppb-col-xs-8, .sppb-col-sm-8, .sppb-col-md-8, .sppb-col-lg-8, .sppb-col-xs-9, .sppb-col-sm-9, .sppb-col-md-9, .sppb-col-lg-9, .sppb-col-xs-10, .sppb-col-sm-10, .sppb-col-md-10, .sppb-col-lg-10, .sppb-col-xs-11, .sppb-col-sm-11, .sppb-col-md-11, .sppb-col-lg-11, .sppb-col-xs-12, .sppb-col-sm-12, .sppb-col-md-12, .sppb-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.sppb-text-center {
    text-align: center;
}
.knight-get-in-touch .sppb-addon-feature .sppb-addon-content .sppb-feature-box-title {
    margin-bottom: 20px;
    margin-top: 15px;
}
h4 {
    font-family: Playfair Display,sans-serif;
    font-weight: normal;
}
h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
</style>
<article id="main" style="margin-top: -50px;">
						<header>
							<h2>Contact Us</h2>
							<p>Do you have queries?</p>
						</header>
	<section id="banner" class="wrapper style5" style="margin:0px;padding:127px 0 150px;">
		<div class="sppb-container">
			<div class="sppb-section-title sppb-text-center">
			<h1 class="sppb-title-heading" style="font-size:60px;line-height: 60px;color:#00a859;margin-bottom:35px;">Get in Touch</h1>	
<p class="sppb-title-subheading" style="font-size:16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
			</div>
			<div class="sppb-row">
				<div class="sppb-col-sm-4">
					<div class="sppb-addon-container ">
						<div class="sppb-addon sppb-addon-feature sppb-text-center ">
							<div class="sppb-addon-content">
								<h4 class="sppb-feature-box-title" style="color:#000000;font-size:24px;line-height:24px;">Visit Us</h4>
								<div class="sppb-addon-text">266 Lake Blvd, Hayward<br>Nairobi, Kenya</div>

							</div>
						</div>
					</div>
				</div>
				<div class="sppb-col-sm-4"><div class="sppb-addon-container " style=""><div class="sppb-addon sppb-addon-feature sppb-text-center "><div class="sppb-addon-content"><h4 class="sppb-feature-box-title" style="color:#000000;font-size:24px;line-height:24px;">Call Us</h4><div class="sppb-addon-text">+254 781 464 470 <br>+254 781 464 325</div></div></div></div></div>
				<div class="sppb-col-sm-4"><div class="sppb-addon-container " style=""><div class="sppb-addon sppb-addon-feature sppb-text-center "><div class="sppb-addon-content"><h4 class="sppb-feature-box-title" style="color:#000000;font-size:24px;line-height:24px;">Email Us</h4><div class="sppb-addon-text"><a href="mailto:mail@mchaama.com" data-mce-href="mailto:mail@mchaama.com">mail@mchaama.com<br></a>support@mchaama.com</div></div></div></div></div>


			</div>
		</div>

	</section>
</article>
	</template>

</dom-module>
<script>
	Polymer ({
		is: "contact-details"
	})
</script>