<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

<dom-module id="date-element">
    <style>
        :host {
            /* margin: 15px; */
        }

        .btn {
            width: 100%;
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }

    </style>
    <template>
        <section>
            <input
                    tabindex="-i"
                    class="hidden-input"
                    name="[[data_name]]"
                    id="hidden_input"
                    type="text"
                    maxlength="[[maxlength]]"
                    pattern="[[pattern]]"
                    required="[[required]]"
                    value="[[ date ]]"/>

            <paper-button class="btn" on-tap="showDialog" raised>
                <span>[[title]]</span><br>
                <span>[[date]]</span><br>
            </paper-button>
            <paper-dialog id="dialog" class="paper-date-picker-dialog" modal on-iron-overlay-closed="dismissDialog">
                <paper-date-picker id="picker" responsive-width="655px"></paper-date-picker>
                <div class="buttons">
                    <paper-button dialog-dismiss>Cancel</paper-button>
                    <paper-button dialog-confirm>OK</paper-button>
                </div>
            </paper-dialog>
        </section>
    </template>
</dom-module>
<script>
    Polymer({
        is: "date-element",
        properties: {
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
        },
        ready: function () {
            //this.selected = moment(new Date()).format(this.format);
            //this.dateFormat = this.$.picker.dateFormat;

            this.customStyle['--default-background-color'] = this.color;
            this.customStyle['--default-primary-color'] = this.color;
            this.customStyle['--dark-primary-color'] = this.color;
            this.updateStyles();

            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });

            var format = "DD/MM/YYYY";
            var target = this;
            this.dismissDialog = function (event) {
                if (event.detail.confirmed) {
                    if (this.$.picker.date) {
                        target.date = moment(this.$.picker.date).format(format);
                    }
                    else {
                        target.date = moment(new Date()).format(format);
                    }
                }
            };
            this.showDialog = function () {
                target.$.dialog.toggle();
            };
            //this.date = new Date();
            this.date = moment(new Date()).format(format);
        },
    });
</script>

