<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../src/css/main_landing.css">
<dom-module id="footer-element">
    <style>

    :root {

                --app-primary-color: #fcfcfc;
                --app-secondary-color: #eb2027;
                --app-accent-color: #260000;
                --app-default-color: #1b9cb3;

                --paper-button-ink-color: var(--app-accent-color);
                --paper-icon-button-ink-color: var(--app-accent-color);
                --paper-spinner-color: var(--app-accent-color);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: var(--app-primary-color);
            }
    a {
        outline: none !important;
    }
    
    a img {
        outline: none !important;
    }
    
    img {
        border: 0 !important;
    }
    
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    #sp-bottom {
        padding: 16px 0px 20px 0px;
    }
    
    .sp-megamenu-parent >li >a:before,
    .sppb-btn,
    .sppb-btn-default,
    .btn,
    .btn-default,
    .error-page .error-page-footer,
    .lightbox-get-in-touch .sppb-column.left-column,
    .sppb-addon.sppb-addon-persion .sppb-person-social-icons .sppb-person-social li a:hover,
    .sppb-addon.sppb-addon-persion .sppb-person-social-icons .sppb-person-social li a:focus,
    #articleCarousel .carousel-indicators li.active,
    div.categories-list .categories-list a.btn.btn-mini:hover,
    div.categories-list .categories-list a.btn.btn-mini:focus,
    #sp-bottom {
        background: #ffffff;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }
    
    @media (min-width: 992px) {
        .col-md-12 {
            width: 100%;
        }
    }
    
    @media (min-width: 992px) {
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9 {
            float: left;
        }
    }
    
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    div {
        display: block;
    }
    
    #sp-bottom .sp-module {
        margin-top: 25px;
    }
    
    .sppb-row,
    .sp-pagebuilder-row {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .clearfix:before,
    .clearfix:after,
    .sppb-container:before,
    .sppb-container:after,
    .sppb-container-fluid:before,
    .sppb-container-fluid:after,
    .sppb-row:before,
    .sppb-row:after,
    .sp-pagebuilder-row:before,
    .sp-pagebuilder-row:after,
    .sppb-panel-body:before,
    .sppb-panel-body:after,
    .sppb-nav:before,
    .sppb-nav:after {
        content: " ";
        display: table;
    }
    
    .clearfix:after,
    .sppb-container:after,
    .sppb-container-fluid:after,
    .sppb-row:after,
    .sp-pagebuilder-row:after,
    .sppb-panel-body:after,
    .sppb-nav:after {
        clear: both;
    }
    
    .clearfix:before,
    .clearfix:after,
    .sppb-container:before,
    .sppb-container:after,
    .sppb-container-fluid:before,
    .sppb-container-fluid:after,
    .sppb-row:before,
    .sppb-row:after,
    .sp-pagebuilder-row:before,
    .sp-pagebuilder-row:after,
    .sppb-panel-body:before,
    .sppb-panel-body:after,
    .sppb-nav:before,
    .sppb-nav:after {
        content: " ";
        display: table;
    }
    
    @media (min-width: 992px) {
        .sppb-col-md-12 {
            width: 100%;
        }
    }
    
    @media (min-width: 992px) {
        .sppb-col-md-1,
        .sppb-col-md-2,
        .sppb-col-md-3,
        .sppb-col-md-4,
        .sppb-col-md-5,
        .sppb-col-md-6,
        .sppb-col-md-7,
        .sppb-col-md-8,
        .sppb-col-md-9,
        .sppb-col-md-10,
        .sppb-col-md-11,
        .sppb-col-md-12 {
            float: left;
        }
    }
    
    .sppb-col-xs-1,
    .sppb-col-sm-1,
    .sppb-col-md-1,
    .sppb-col-lg-1,
    .sppb-col-xs-2,
    .sppb-col-sm-2,
    .sppb-col-md-2,
    .sppb-col-lg-2,
    .sppb-col-xs-3,
    .sppb-col-sm-3,
    .sppb-col-md-3,
    .sppb-col-lg-3,
    .sppb-col-xs-4,
    .sppb-col-sm-4,
    .sppb-col-md-4,
    .sppb-col-lg-4,
    .sppb-col-xs-5,
    .sppb-col-sm-5,
    .sppb-col-md-5,
    .sppb-col-lg-5,
    .sppb-col-xs-6,
    .sppb-col-sm-6,
    .sppb-col-md-6,
    .sppb-col-lg-6,
    .sppb-col-xs-7,
    .sppb-col-sm-7,
    .sppb-col-md-7,
    .sppb-col-lg-7,
    .sppb-col-xs-8,
    .sppb-col-sm-8,
    .sppb-col-md-8,
    .sppb-col-lg-8,
    .sppb-col-xs-9,
    .sppb-col-sm-9,
    .sppb-col-md-9,
    .sppb-col-lg-9,
    .sppb-col-xs-10,
    .sppb-col-sm-10,
    .sppb-col-md-10,
    .sppb-col-lg-10,
    .sppb-col-xs-11,
    .sppb-col-sm-11,
    .sppb-col-md-11,
    .sppb-col-lg-11,
    .sppb-col-xs-12,
    .sppb-col-sm-12,
    .sppb-col-md-12,
    .sppb-col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .sppb-column-addons,
    .sppb-column {
        position: relative;
        z-index: 1;
    }
    
    .sppb-text-center {
        text-align: center;
    }
    
    .sppb-addon-single-image-container {
        display: inline-block;
        position: relative;
        max-width: 320px;
    }
    
    a {
        color: #147D06;
    }
    
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: #147D06 !important;
    }
    
    a {
        /*-webkit-transition: color 400ms, background-color 400ms;*/
        transition: color 400ms, background-color 400ms;
    }
    
    a {
        background-color: transparent;
    }
    
    .sppb-text-left .sppb-img-responsive,
    .sppb-text-center .sppb-img-responsive,
    .sppb-text-right .sppb-img-responsive {
        display: inline-block;
    }
    
    .sppb-img-responsive,
    .sppb-carousel-inner > .sppb-item > img,
    .sppb-carousel-inner > .sppb-item > a > img {
        /*display: block;
    width: 100% \9;*/
        max-width: 100%;
        height: auto;
    }
    
    img {
        vertical-align: middle;
    }
    
    img {
        border: 0;
    }
    
    #sp-bottom .sp-module .nav.menu {
        text-align: center;
    }
    
    .sp-module ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #sp-bottom .sp-module .nav.menu li {
        border: none;
        display: inline-block;
    }
    
    sp-module ul >li {
        /*display: block;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: 300ms;*/
        transition: 300ms;
    }
    
    .nav>li {
        position: relative;
        /*display: block;*/
    }
    
    #sp-bottom .sp-module .nav.menu li.active a {
        color: rgba(255, 255, 255, 0.5);
    }
    
    #sp-bottom .sp-module .nav.menu li a {
        font-family: Arvo, sans-serif;
        font-weight: normal;
    }
    
    #sp-bottom .sp-module .nav.menu li a {
        /* color: #fff;*/
        font-size: 12px;
        /*font-weight: 400;*/
        letter-spacing: 0.9px;
        line-height: 1;
        margin-right: 52px;
        padding: 0;
        text-transform: uppercase;
    }
    
    .sp-module ul >li >a {
        /*display: block;
    padding: 5px 0;
    line-height: 36px;
    padding: 2px 0;
    -webkit-transition: 300ms;*/
        transition: 300ms;
    }
    
    .nav>li>a {
        position: relative;
        /*display: block;
    padding: 10px 15px;*/
    }
    
    a {
        background-color: transparent;
    }
    </style>
    <template>
        <section id="sp-bottom">
            <div class="container">
                <div class="row">
                    <div id="sp-bottom1" class="col-sm-12 col-md-12">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <div class="sp-module-content">
                                    <div class="mod-sppagebuilder ">
                                        <div id="section-id-1482140157627" class="sppb-section ">
                                            <div class="sppb-container-inner">
                                                <div class="sppb-row">
                                                    <div class="sppb-col-md-12">
                                                        <div id="column-id-1482140157628" class="sppb-column">
                                                            <div class="sppb-column-addons">
                                                                <div id="sppb-addon-1482140157631" class="clearfix">
                                                                    <div class="sppb-addon sppb-addon-single-image sppb-text-center ">
                                                                        <div class="sppb-addon-content">
                                                                            <div class="sppb-addon-single-image-container">
                                                                                <a href="index.html"><img class="sppb-img-responsive" src="../../images/logo.png" alt="logo"></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-module ">
                                <div class="sp-module-content">
                                    <ul class="nav menu">
                                        <li class="item-481  current active"><a href="../../index.html"> Home</a></li>
                                        <li class="item-482"><a href="../../aboutus.html">About</a></li>
                                        <li class="item-520"><a href="../../contacts.html"> Contact</a></li>
                                        <li class="item-484"><a href="../../services.html"> Login</a></li>
                                        <!--<li class="item-483"><a href="/2017/lightbox/index.php/pages/work"> Work</a></li>-->
                                        <!--<li class="item-521"><a href="/2017/lightbox/index.php/blog"> Blog</a></li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; <a href="http://inteintel.co.ke">InterIntel</a></li>
                <li>The Future is now</li>
            </ul>
        </footer>
    </template>
</dom-module>
<script>
Polymer({
    is: "footer-element"
})
</script>
