<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<!--link rel="import" href="bower_components/iron-scroll-threshold/iron-scroll-threshold.html"-->
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../post-ajax/post-ajax.html">


<dom-module id="gallery-element">
    <template>
        <style>
            :host {
                display: block;
                @apply(--paper-font-common-base);
            }

            .toolbar {
                background: #749fe9;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                color: white;
            }

            .loadingIndicator {
                font-size: 16px;
                text-align: center;
                height: 60px;
            }

            .loadingIndicator paper-spinner {
                margin-right: 20px;
                vertical-align: middle;
            }

            iron-list {
                margin-top: 40px;
                padding-bottom: 10px;
            }

            .photoContent {
                @apply(--layout);
                background-color: #ddd;
                position: relative;
                width: 300px;
                height: 300px;
                margin: 8px;
            }

            .photoContent:hover .detail {
                opacity: 1;
            }

            .photoContent > iron-image {
                @apply(--layout-flex);
            }

            .photoContent > .detail {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                color: white;
                font-size: 20px;
                font-weight: 100;
                padding: 20px;
                opacity: 0;
                transition: opacity 0.1s;
            }

            @media (max-width: 800px) {
                .photoContainer {
                    width: calc(50% - 16px);
                }

                .photoContent {
                    width: auto;
                }
            }

            @media (max-width: 400px) {
                iron-list {
                    margin-top: 72px;
                }

                .photoContainer {
                    width: 100%;
                }

                .photoContent > .detail {
                    opacity: 1;
                }
            }


        </style>

        <paper-toolbar class="toolbar" style$="background:{{color}}">


            <span class="title">
                <iron-icon icon="[[icon]]"></iron-icon>
                [[title]]
            </span>

            <paper-menu-button>
                <paper-icon-button id="modeIcon" class="dropdown-trigger"></paper-icon-button>
                <paper-menu selected="{{mode}}" id="mode" class="dropdown-content" on-iron-select="_modeOnSelect">

                    <paper-item data-name="grid" data-icon="view-module">
                        <iron-icon icon="view-module"></iron-icon>
                        <span class="pad-left">Grid</span>
                    </paper-item>
                    <paper-item data-name="list" data-icon="view-list">
                        <iron-icon icon="view-list"></iron-icon>
                        <span class="pad-left">List</span>
                    </paper-item>

                </paper-menu>

            </paper-menu-button>


            <!--paper-slider id="slider" min="150" max="400" step="5" value="{{size}}"></paper-slider-->
            <paper-input label="Search {{title}}" value="{{selectedGroup::input}}"></paper-input>


            <paper-menu-button>
                <paper-icon-button icon="icons:filter-list" title="Filter" class="dropdown-trigger"></paper-icon-button>
                <paper-menu id="group" class="dropdown-content" on-iron-select="_albumOnSelect">
                    <template is="dom-repeat" items="[[ repeatObject(groups) ]]" as="group" index-as="idx">
                        <paper-item>
                            <span>[[group.2]]</span>
                        </paper-item>
                    </template>
                </paper-menu>
            </paper-menu-button>
            <paper-icon-button icon="menu" title="View All" on-tap="viewAll"></paper-icon-button>

        </paper-toolbar>


        <!-- this element will load more data when the user scrolls down and reached the lower threshold -->
        <!-- Commented out for because of lack of pagination logic  -->
        <!--
        <iron-scroll-threshold id="scrollThreshold"
                               lower-threshold="500"
                               on-lower-threshold="_loadMoreData"
                               style="height: 400px"
                               scroll-target="scrollThreshold"

                               width="{{size}}"
                               height="{{size}}"




        -->
        <iron-list
                id="list"
                items="{{_filterData(selectedGroup)}}" as="item"
                style="height: 400px"
                grid$="{{_computeIsGridMode(mode)}}">

            <template>
                <div class="photoContainer">
                    <div class="photoContent" tabindex$="[[tabIndex]]">
                        <!--                        <iron-image
                                                        sizing="cover"
                                                        src$="[[_urlForImage(item)]]"
                                                        preload
                                                        fade>
                                                </iron-image>
                        -->
                        <iron-image
                                sizing="cover"
                                src$="[[item.url]]"
                                preload
                                fade>
                        </iron-image>
                        <div class="detail">{{item.name}}</div>

                    </div>
                </div>
            </template>
        </iron-list>
        <div class="loadingIndicator" hidden$="[[!loadingImages]]">
            <paper-spinner active="{{loadingImages}}"></paper-spinner>
        </div>
        <!--/iron-scroll-threshold-->

    </template>
    <script>
        Polymer({

            is: 'gallery-element',
            properties: {
                icon: String,
                data_name: String,
                service: String,
                channel: Number,
                static: String,
                media: String,
                protocol: String,
                hostname: String,
                color: {type: String, value: '#749fe9'},
                params: Object,
                title: String,
                currentData: {
                    type: Object,
                    notify: true
                },
                data: {
                    type: Array,
                    value: []
                },
                mode: {
                    type: Number,
                    value: 0,
                    // observer:'_modeChanged'

                },
                groupIcon: {
                    type: String
                },
                grouped: {
                    type: Number,
                    value: 0,
                    //observer:'_groupedChanged'
                },
                groups: {
                    type: Array,
                    value: []
                },
                wide: Boolean,
                size: {
                    type: Number,
                    value: 200,
                    observer: '_reRenderList'
                }
            },

            ready: function () {
                this.media_url = this.protocol + '://' + this.hostname + this.media;
                this.static_url = this.protocol + '://' + this.hostname + this.static;


                this.params['data_name'] = this.data_name;

                this._loadData();

            },


            _loadData: function () {
                console.info('loading more data');
                //this.$.ajax.generateRequest();
                var target = this;

                this.loadingImages = true;
                var post_ajax = document.createElement("post-ajax");
                post_ajax.protocol = this.protocol;
                post_ajax.hostname = this.hostname;
                post_ajax.channel = this.channel;
                post_ajax.service = this.service;
                post_ajax.params = this.params;
                post_ajax.channel = this.channel;
                post_ajax.postready = true;
                post_ajax.addEventListener("response-ready", function (e) {
                    target.loadingImages = false;
                    var payload = e.detail.response;

                    target.cols = payload.response.data_source.cols;
                    target.rows = payload.response.data_source.rows;
                    target.data = payload.response.data_source.data;

                    target.selectedGroup = ''; //todo move to callback of post-ajax
                    //target.$.scrollThreshold.clearTriggers();

                });


            },

            _computeIsGridMode: function (mode) {
                //console.info('compute grid : '+mode);
                return mode == 0 || this.wide;
            },

            _urlForImage: function (image) {
                return this.media_url + image.url;
            },

            _reRenderList: function () {
                this.$.list.fire('iron-resize');
            },

            _modeOnSelect: function (e, item) {
                this.$.modeIcon.icon = item.item.dataset.icon;
                this._reRenderList();
            },
            _albumOnSelect: function (e, item) {
                this.selectedGroup = this.groups[this.$.group.selected];
            },
            repeatObject: function (item) {
                var items = [];
                if (typeof item == 'object') {
                    var count = 0;
                    for (var x in item) {
                        items.push([count, x, item[x]]);
                        count++;
                    }
                }
                return items;
            },

            _filterData: function (group) {
                console.info('filtering data : ' + group);
                console.log(this.data);
                var images = this.data.reduce(function (ar, album) {
                    return ar.concat(album)
                }, []);
                if (!group) {
                    return images;
                } else {
                    group = group.toLowerCase();
                    var d = images.filter(function (album) {
                        return (album['type']).toLowerCase().indexOf(group) > -1; //this.selectedGroup==undefined ||
                        //return true;
                    });
                    console.log(d);
                    return d;

                }
            },

            viewAll: function (e) {
                this.selectedGroup = undefined;
            }
        });
    </script>
</dom-module>
