<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../../../src/css/main_landing.css">
<!--<script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>-->
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">

<link rel="import" href="../../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/paper-drawer-panel/paper-drawer-panel.html">

<link rel="import" href="../../../bower_components/app-layout/app-layout.html">


<link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="main.js.download"></script>
<dom-module id="header-nav">
    <style is="custom-style">
    :root {

                --app-primary-color: #fcfcfc;
                --app-secondary-color: #eb2027;
                --app-accent-color: #260000;
                --app-default-color: #1b9cb3;

                --paper-button-ink-color: var(--app-accent-color);
                --paper-icon-button-ink-color: var(--app-accent-color);
                --paper-spinner-color: var(--app-accent-color);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: var(--app-primary-color);
            }
    
    app-header {
        z-index: 9999 !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #fc0000;
     
        --app-header-background-rear-layer: {
            background-color: var(--app-primary-color);
        }
        ;
    }
    
    paper-icon-button {
        --paper-icon-button-ink-color: white;
    }

    app-toolbar {
        font-size: 12px;
    }
    
    app-toolbar.tall {}
    
    app-drawer {
        --app-drawer-content-container: {
            background-color: #BF0300;
        }
        z-index: 9999 !important;
    }
    
    .drawer-contents {
        height: 100% !important;
        overflow-y: auto;
    }
    
    ul {
        list-style: none !important;
        text-align: left;
    }
    
    paper-dialog {
        position: inherit;
        max-width: 180%;
    }
    a, a:hover, a:focus, a:active
    {
    text-decoration: none;
    color: #fff !important;
   }

   iron-image {
         max-width: 320px !important;
         max-height: 132px !important;
         } 

         a {
  color: #6173f4;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #6173f4;
  outline: none;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

#gateway-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 10px;
  margin-left: -15px;
}
@media screen and (max-width: 768px) {
  #gateway-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #gateway-header .navbar-brand {
    color: #6173f4 !important;
  }
  #gateway-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #gateway-header #navbar li a:hover {
    color: #6173f4 !important;
  }
  #gateway-header #navbar li a span:before {
    background: transparent !important;
  }
  #gateway-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #6173f4 !important;
  }
  #gateway-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#gateway-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#gateway-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}
#gateway-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
  color: #fc0000;
}
#gateway-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6173f4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#gateway-header #navbar li a:hover {
  color: #fff;
}
#gateway-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#gateway-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#gateway-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#gateway-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
}
#gateway-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#gateway-header.navbar-fixed-top .navbar-brand {
  color: #6173f4;
}
#gateway-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#gateway-header.navbar-fixed-top #navbar li a:hover {
  color: #6173f4;
}
#gateway-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #6173f4;
}
#gateway-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#gateway-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #gateway-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#gateway-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#gateway-header .navbar-default .brand-slogan em {
  color: #6173f4;
  font-style: normal;
}
#gateway-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 50px;
  clear: both;
}
.section-heading h2 {
  font-size: 50px;
  font-weight: 300;
  color: #444;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding-bottom: 20px;
  line-height: 1.5;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #6173f4;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 30px;
  }
}
.section-heading h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #929292;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 24px !important;
    line-height: 34px;
  }
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#gateway-our-services,
#gateway-about-us,
#gateway-features,
#gateway-testimonials,
#gateway-pricing,
#gateway-press {
  padding: 7em 0;
}
@media screen and (max-width: 480px) {
  #gateway-our-services,
  #gateway-about-us,
  #gateway-features,
  #gateway-testimonials,
  #gateway-pricing,
  #gateway-press {
    padding: 5em 0;
  }
}

#gateway-testimonials {
  background: #6173f4;
}
#gateway-testimonials .section-heading h2 {
  color: white;
}
#gateway-testimonials .section-heading h2:after {
  background: rgba(255, 255, 255, 0.2);
}
#gateway-testimonials .section-heading .subtext h3 {
  color: rgba(255, 255, 255, 0.5);
}
#gateway-testimonials .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#gateway-testimonials .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#gateway-testimonials .box-testimony a:hover, #gateway-testimonials .box-testimony a:focus, #gateway-testimonials .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#gateway-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#gateway-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#gateway-testimonials .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #6173f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#gateway-testimonials .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#gateway-testimonials .box-testimony blockquote p {
  font-style: italic;
}
#gateway-testimonials .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#gateway-testimonials .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#gateway-pricing .price-box {
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}
#gateway-pricing .price-box.popular {
  border: 2px solid #6173f4;
}
#gateway-pricing .price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -54px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#gateway-pricing .price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #6173f4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#gateway-pricing .pricing-plan {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}
#gateway-pricing .price {
  font-size: 50px;
  color: #000;
}
#gateway-pricing .price .currency {
  font-size: 20px;
  top: -1.2em;
}
#gateway-pricing .price small {
  font-size: 16px;
}
#gateway-pricing .pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}
#gateway-pricing .pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#gateway-our-services,
#gateway-press {
  background: #f4f4f4;
}

#gateway-our-services .box {
  padding: 30px;
  background: #fff;
  text-align: center;
  color: #7f7f7f;
  margin-bottom: 70px;
  position: relative;
}
@media screen and (max-width: 992px) {
  #gateway-our-services .box {
    min-height: inherit;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  ul {
    margin-top: -50px;

  }
  app-toolbar {
        font-size: 10px;
    }
}
#gateway-our-services .box .icon {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
}
#gateway-our-services .box .icon > span {
  display: table-cell;
  vertical-align: middle;
}
#gateway-our-services .box .icon > span i {
  font-size: 40px;
  color: #fff !important;
  margin: 0;
  padding: 0;
}
#gateway-our-services .box .icon.colored-1 {
  background: #2aaf67;
}
#gateway-our-services .box .icon.colored-2 {
  background: #00bff3;
}
#gateway-our-services .box .icon.colored-3 {
  background: #f26522;
}
#gateway-our-services .box .icon.colored-4 {
  background: #e52b50;
}
#gateway-our-services .box .icon.colored-5 {
  background: #2fc5cc;
}
#gateway-our-services .box .icon.colored-6 {
  background: #6173f4;
}
#gateway-our-services .box .step-number {
  font-size: 16px;
  display: block;
  color: #d1d1d1;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
#gateway-our-services .box h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
}

#gateway-features {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #gateway-features {
    padding: 4em 0;
  }
}
#gateway-features .gateway-service {
  margin-bottom: 30px;
  float: left;
}
#gateway-features .gateway-service .gateway-icon {
  float: left;
  width: 20%;
}
#gateway-features .gateway-service .gateway-icon i {
  font-size: 40px;
  color: #6173f4;
}
#gateway-features .gateway-service .gateway-desc {
  width: 80%;
  float: right;
}
#gateway-features .gateway-service .gateway-desc h3 {
  margin-top: 0;
  font-size: 18px;
}

#gateway-press .gateway-press-item {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  #gateway-press .gateway-press-item {
    display: block !important;
  }
}
#gateway-press .gateway-press-item .gateway-press-text,
#gateway-press .gateway-press-item .gateway-press-img {
  width: 50%;
}
@media screen and (max-width: 480px) {
  #gateway-press .gateway-press-item .gateway-press-text,
  #gateway-press .gateway-press-item .gateway-press-img {
    height: inherit;
    float: none !important;
    width: 100%;
    display: block !important;
  }
}
#gateway-press .gateway-press-item .gateway-press-text {
  float: left;
  padding: 20px;
}
#gateway-press .gateway-press-item .gateway-press-text .gateway-press-title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  position: relative;
}
#gateway-press .gateway-press-item .gateway-press-text .gateway-press-title .gateway-border {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 30px;
  background: #6173f4;
}
#gateway-press .gateway-press-item .gateway-press-img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  #gateway-press .gateway-press-item .gateway-press-img {
    height: 200px;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
  }
}

.gateway-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.gateway-nav-toggle.active i::before, .gateway-nav-toggle.active i::after {
  background: #6173f4;
}
.gateway-nav-toggle:hover, .gateway-nav-toggle:focus, .gateway-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.gateway-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #6173f4;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #6173f4;
  transition: all .2s ease-out;
}
.gateway-nav-toggle i::before, .gateway-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #6173f4;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.gateway-nav-toggle i::before {
  top: -7px;
}

.gateway-nav-toggle i::after {
  bottom: -7px;
}

.gateway-nav-toggle:hover i::before {
  top: -10px;
}

.gateway-nav-toggle:hover i::after {
  bottom: -10px;
}

.gateway-nav-toggle.active i {
  background: transparent;
}

.gateway-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.gateway-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.gateway-nav-toggle {
  position: absolute;
  top: 12px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .gateway-nav-toggle {
    display: block;
  }
}

.person {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  width: 100%;
}
.person img {
  display: block;
  margin: 0 auto;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.person .name {
  font-size: 24px;
}
.person .position {
  text-transform: uppercase;
  color: #c3c3c3;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#footer {
  padding: 50px 0;
  color: #7f7f7f;
}
#footer .copyright {
  margin-bottom: 0px;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #6173f4;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #6173f4;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #6173f4;
  color: #fff;
}
.social li a.social-circle {
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #6173f4;
  color: #fff;
}
.social.social-circle a {
  background: #6173f4;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.owl-carousel .owl-controls .owl-nav {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-carousel:focus .owl-controls .owl-nav, .owl-carousel:hover .owl-controls .owl-nav, .owl-carousel:active .owl-controls .owl-nav {
  opacity: 1;
}
.owl-carousel .btn-primary:hover, .owl-carousel .btn-primary:focus, .owl-carousel .btn-primary:active {
  background: transparent !important;
  border: 2px solid #fff !important;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .owl-carousel .owl-controls .owl-nav {
    display: none;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.owl-carousel .owl-controls .owl-nav .owl-next i:before,
.owl-carousel .owl-controls .owl-nav .owl-prev i:before {
  color: rgba(255, 255, 255, 0.5);
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
  right: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover {
  right: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover i:before {
  color: white;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  left: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover i:before {
  color: white;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.gateway-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.gateway-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.gateway-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.gateway-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  background: white;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: white;
  background: transparent;
  border: 2px solid #fff;
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .gateway-owl-text-wrap {
  height: 800px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item, .owl-carousel-fullwidth .gateway-owl-text-wrap {
    height: inherit;
    padding: 5em 0;
  }
}
.owl-carousel-fullwidth .gateway-owl-text-wrap {
  position: relative;
}
.owl-carousel-fullwidth .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
}
.owl-carousel-fullwidth .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
.owl-carousel-fullwidth .item img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .iphone-image {
  position: relative;
  z-index: 99;
}
.owl-carousel-fullwidth .item .iphone-image .iphone {
  float: right;
  text-align: right;
  position: relative;
  bottom: -12em;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .iphone-image .iphone {
    bottom: 0em;
    text-align: center;
    float: none !important;
    margin: 0 auto;
    display: block;
  }
}
.owl-carousel-fullwidth .item .iphone-image .iphone img {
  max-width: 100%;
}
.owl-carousel-fullwidth .item .gateway-owl-text {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}
.owl-carousel-fullwidth .item .gateway-owl-text a {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.owl-carousel-fullwidth .item .gateway-owl-text a:hover {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
}
.owl-carousel-fullwidth .item .gateway-owl-text .gateway-lead, .owl-carousel-fullwidth .item .gateway-owl-text .gateway-lead-2, .owl-carousel-fullwidth .item .gateway-owl-text .gateway-sub-lead {
  color: #fff;
  margin: 0;
  padding: 0;
}
.owl-carousel-fullwidth .item .gateway-owl-text .gateway-lead {
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .gateway-owl-text .gateway-lead {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
  }
}
.owl-carousel-fullwidth .item .gateway-owl-text .gateway-sub-lead {
  font-size: 30px;
  line-height: 30px;
  line-height: 42px;
  font-weight: 100;
  margin-bottom: 30px;
  color: white;
}
@media screen and (max-width: 768px) {
  .owl-carousel-fullwidth .item .gateway-owl-text .gateway-sub-lead {
    font-size: 24px;
    line-height: 34px;
  }
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.gateway-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#colour-variations {
        padding: 10px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        width: 140px;
        position: fixed;
        left: 0;
        top: 100px;
        z-index: 999999;
        background: #fff;
        /*border-radius: 4px;*/
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    }
    #colour-variations.sleep {
        margin-left: -140px;
    }
    #colour-variations h3 {
        text-align: center;;
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #777;
        margin: 0 0 10px 0;
        padding: 0;;
    }
    #colour-variations ul,
    #colour-variations ul li {
        padding: 0;
        margin: 0;
        color: #fc0000;
    }
    #colour-variations li {
        list-style: none;
        display: block;
        margin-bottom: 5px!important;
        float: left;
        width: 100%;
    }
    #colour-variations li a {
        width: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    #colour-variations li a:hover {
        opacity: .9;
    }
    #colour-variations li a > span {
        width: 33.33%;
        height: 20px;
        float: left;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    

    .option-toggle {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 5px;
        margin-right: -30px;
        width: 30px;
        height: 30px;
        background: #f64662;
        text-align: center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: #fff;
        cursor: pointer;
        -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
        box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    }
    .option-toggle i {
        top: 2px;
        position: relative;
    }
    .option-toggle:hover, .option-toggle:focus, .option-toggle:active {
        color:  #fff;
        text-decoration: none;
        outline: none;
    }
    </style>
    <template>
    
        <app-header condenses fixed effects="waterfall resize-snapped-title fade-background" effects-config='{"resize-snapped-title": {"startsAt": 0.8, "duration": "100ms"}, "fade-background": {"startsAt": 0.8, "endsAt": 0.9}}'>

            <app-toolbar>
              <header role="banner" id="gateway-header" class="">  
                <div class="container">
               
                <nav class="navbar navbar-default">
                <div class="navbar-header">
                
                    <a href="#" class="js-gateway-nav-toggle gateway-nav-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="http://bidfather.com/index.html"><iron-image alt="BidFather logo." src="../../../images/logo.png"></iron-image></a> 
                    
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="http://bidfather.com/#" data-nav-section="home"><span>Home</span></a></li>
                  
                    <li class=""><a href="http://bidfather.com/#" data-nav-section="services"><span>How It Works</span></a></li>
                    <li class=""><a href="http://bidfather.com/#" data-nav-section="features"><span>Features</span></a></li>
                    <li class=""><a href="http://bidfather.com/#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
                    <li class=""><a href="http://bidfather.com/#" data-nav-section="pricing"><span>FAQ</span></a></li>
                    <li class=""><a href="http://bidfather.com/#" data-nav-section="press"><span>Contact</span></a></li>
                  </ul>
                </div>
                </nav>
            
          </div>
     </header> 
            </app-toolbar>
           
        </app-header>
        
    </template>
</dom-module>
<script>
Polymer({
    is: "header-nav",

    _toggleDrawer:function () {
             this.$.drawer.toggle();
        },
})
</script>
