<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="image-input">
    <style>
        :host {
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
        }

        input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: red;
            cursor: inherit;
            display: block;
        }
    </style>
    <template>
        <content>
            <iron-image sizing="contain" id="display"></iron-image>
            <div style="position:relative;">

                <paper-progress style="width:100%;" id="paper_progress"></paper-progress>
                <br>
                <paper-input id="paper_input" readonly="true" label="[[title]]">
                    <iron-icon prefix icon="[[icon]]"></iron-icon>
                </paper-input>
                <input id="fileinput" on-change="handleFile" type="file"/>

            </div>
            <input
                    class="hidden-input"
                    name="[[data_name]]"
                    id="hidden_input"
                    type="text"
                    value="{{imagepath}}"
                    maxlength="[[maxlength]]"
                    pattern="[[pattern]]"
                    required="[[required]]"/>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'image-input',
        properties: {
            data_name: String,
            icon: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
        },
        ready: function () {
            this.customStyle['--paper-progress-active-color'] = this.color;
            this.customStyle['--paper-progress-secondary-color'] = this.color;
            this.updateStyles();

            this.$.paper_progress.style['display'] = 'none';
            this.imagepath = "";
        },

        handleFile: function () {

            var progress = this.$.paper_progress;
            progress.value = 0;
            progress.style['display'] = 'block';
            var target = this;
            var display = this.$.display;
            var file = this.$.fileinput.files[0];
            var paper_input = this.$.paper_input;
            var imageType = /image.*/;
            if (file.type.match(imageType)) {
                var fileSize = file.size; // in bytes
                if (fileSize > 12000000) {
                    paper_input.label = "File Size is Above allowed Limit of 2MB!";
                    return false;
                }


                var reader = new FileReader();
                reader.onload = function (e) {
                    var xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (e) {
                        if (e.lengthComputable) {
                            var percentage = Math.round((e.loaded * 100) / e.total);
                            progress.value = percentage;
                            paper_input.label = percentage + '% complete';
                        }
                    }, false);

                    xhr.open("post", "/api/upload-temp-file/", true);
                    // Set appropriate headers
                    //xhr.setRequestHeader("Content-Type", "multipart/form-data");
                    xhr.setRequestHeader("X-File-Name", file.name);
                    xhr.setRequestHeader("X-File-Size", file.size);
                    xhr.setRequestHeader("X-File-Type", file.type);
                    // Send the file (doh)
                    var fd = new FormData();
                    fd.append('image', file)
                    xhr.send(fd)


                    xhr.onreadystatechange = function () {
                        if (xhr.readyState < 4)                         // while waiting response from server
                            paper_input.label = "Loading...";
                        else if (xhr.readyState === 4) {                // 4 = Response from server has been completely loaded.
                            if (xhr.status > 199 && xhr.status < 300) {  // http status between 200 to 299 are all successful
                                response = JSON.parse(xhr.responseText);
                                if ('response_status' in response && response.response_status == '00') {
                                    paper_input.label = "Image successfully uploaded. Please Proceed!";
                                    src = reader.result;
                                    //img = src.split(',')[1]
                                    target.imagepath = response.response;//Bind Image Path
                                    display.style["width"] = "100%";
                                    display.style["height"] = "200px";
                                    display.style["background-color"] = "lightgray";

                                    display.src = src;
                                }
                                else {
                                    if ('response' in response) {
                                        paper_input.label = response.response;
                                    }
                                    else {
                                        paper_input.label = 'Upload Failed.';
                                    }

                                }
                            } else {
                                console.log('Failed to Upload');
                            }
                        }
                    }

                }

                reader.readAsDataURL(file);//Call onload

            } else {
                paper_input.label = "File not supported!";
            }


        },

    });
</script>


