<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="list-select">
    <template>
        <style>
            :host {
                width: 100%;
            }
            /*
            #scroller {
                overflow: auto;
                min-height: 450px;
                max-height: 4500px;
                height: var(--list-select-height);
            }
            */

            .item {
                box-sizing: border-box;
                padding: 2px;
                overflow: hidden;
                color: black;
                border-bottom: 1px solid gray;
            }

            .item > img {
                height: 50px;
                width: 50px;
            }

            .selected {
                color: white;
                background: gray;
            }

            .body {
                font-size: 10px;
            }

            .description {
            }

            .divider {
                color: gray;
            }

            .toolbar {
            / / background: #CCC;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                color: white;
            }

            .title {
                padding: 4px 2px 2px 2px;
            }

            .title.grid {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.3);
                color: white;
            }

            .pad {
                padding: 2px;
            }

            .pad-left {
                padding-left: 2px;
            }

            .menu {
                color: black;
            }

            .primary {
                font-size: 14px;
            }

            .secondary {
                font-size: 12px;
            }

            .message-item {
                padding: 4px;
                background: white;
                font-family: sans-serif;
            }

            .message-item.selected {
                background-color: #eee;
            }

            .avatar {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                box-sizing: border-box;
                border: 1px solid #DDD;
                background-color: #DDD;
            }

            .dim {
                color: gray;
            }

            iron-list {
                background-color: var(--paper-grey-200, #eee);
                padding-bottom: 16px;
                height: 500px;
            }

            .item {
                @apply(--layout-horizontal);

                margin: 16px 16px 0 16px;
                padding: 20px;

                border-radius: 8px;
                background-color: white;
                border: 1px solid #ddd;
            }

            .avatar {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                box-sizing: border-box;
                background-color: #DDD;
            }

            .pad {
                padding: 0 16px;
                @apply(--layout-flex);
                @apply(--layout-vertical);
            }

            .primary {
                font-size: 16px;
                font-weight: bold;
            }

            .secondary {
                font-size: 14px;
            }

            .dim {
                color: gray;
            }

            iron-selector > * {
                padding: 8px;
            }

            .iron-selected {
                background-color: #ddd;
            }

            .count, .date_time, state {
                text-align: right;
                font-size: 12px;
                font-weight: 500;
            }

            .hidden-input {
                background: transparent;
                color: transparent;
                height: 1px;
                z-index: -99;
                border: none;
                outline: none;
                font-size: 1px;
                line-height: 1px;
                cursor: pointer;
                box-shadow: none;
                outline: 0;
            }

            input[is="iron-input"] {
                font: inherit;
                outline: none;
                box-shadow: none;
                border: none;
                width: auto;
                text-align: center;
            }

        </style>

        <content>
            <paper-toolbar class="toolbar" id="paper_toolbar" style$="background:{{color}};">
                <paper-item class="flex-one">
                    <iron-icon icon="[[icon]]" prefix></iron-icon>
                    [[title]]
                </paper-item>
                <paper-input on-keydown="search" type="text" style="color:white;" class="flex-two" label="Search">
                    <iron-icon icon="search" prefix></iron-icon>
                </paper-input>
                <paper-menu-button class="flex-one">
                    <paper-icon-button icon="image:filter-none" title="Filter" class="dropdown-trigger"
                                       noink></paper-icon-button>
                    <paper-menu on-iron-select="typeFilter" class="dropdown-content">
                        <template is="dom-repeat" items="[[ repeatObject(groups) ]]" as="group" index-as="idx">
                            <paper-item>[[group.2]]</paper-item>
                        </template>
                    </paper-menu>
                </paper-menu-button>
                <button type="submit" style="padding:0;">

                    <paper-button class="mainThemeBgc" style="color: #ffffff; margin: 0; width: 100%;">
                        <span>Search</span>
                    </paper-button>
                </button>

            </paper-toolbar>
            <input
                    tabindex="-1"
                    class="hidden-input"
                    name="[[data_name]]"
                    id="hidden_input"
                    type="text"
                    placeholder="[[title]]"
                    maxlength="[[maxlength]]"
                    pattern="[[pattern]]"/>

            <div id="scroller" class="scroller">
                <iron-selector id="iron_selector" attr-for-selected="name">
                    <template is="dom-repeat" items="[[ currentData ]]" as="data0" index-as="idx">
                        <template is="dom-repeat" items="[[data0]]" as="item">
                            <div class="item" name="[[item.index]]">
                                <template is="dom-if" if="[[item.image]]"><img class="avatar"
                                                                               src$="[[media_url]][[item.image]]">
                                </template>
                                <!--<template is="dom-if" if="[[item.image]]"><img class="avatar" src$="{{_getImagePath(item.image)}}"></template>-->
                                <div class="pad">
                                    <div class="primary"><span>[[item.name]]</span></div>
                                    <div class="secondary"><span>[[item.type]]</span></div>
                                    <div class="secondary dim"><span>[[item.description]]</span></div>
                                    <div class="count"><span id="count">{{item.count}}</span></div>
                                    <div class="horizontal layout">
                                        <div class="request flex">
                                            <template is="dom-repeat" items="[[repeatObject(item.request)]]"
                                                      as="request">
                                                <span id="request">{{request.1}}</span>:<span id="response">{{request.2}}</span><br>
                                            </template>
                                        </div>
                                        <div class="response flex">
                                            <template is="dom-repeat" items="[[repeatObject(item.response)]]"
                                                      as="response">
                                                <span id="response">{{response.1}}</span>:<span id="response">{{response.2}}</span><br>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="state"><span id="state">{{item.state}}</span></div>
                                    <div class="date_time"><span id="date_time">{{item.date_time}}</span></div>
                                </div>
                                <!--<iron-icon icon$="[[iconForItem(item)]]"></iron-icon>-->
                                <div class="secondary dim">

                                    <template is="dom-repeat" items="{{repeatObject(item.href)}}" as="link"
                                              index-as="link_no">
                                        <div>
                                            <a href="[[link.2.url]]" target="{{computeTarget(link.2)}}"
                                               on-tap="_iframe">
                                                &nbsp;[[link.1]]
                                            </a>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <template is="dom-if" if="[[item.quantity]]">
                                <div class="secondary dim">
                                    <paper-icon-button icon="add" index="[[item.index]]" quantity="[[item.quantity]]"
                                                       on-tap="addQuantity"></paper-icon-button>
                                    <input is="iron-input" type="number" index="[[item.index]]"
                                           on-keyup="changeQuantity" on-change="changeQuantity" min="1"
                                           bind-value="{{item.quantity}}" size="6" aria-label="Quantity">
                                    <paper-icon-button icon="remove" index="[[item.index]]" quantity="[[item.quantity]]"
                                                       on-tap="removeQuantity"></paper-icon-button>
                                </div>
                            </template>

                        </template>
                    </template>
                </iron-selector>
            </div>
            <paper-dialog id="overlay_element" modal layout vertical center>
            </paper-dialog>
        </content>

    </template>
    <script type="text/javascript">
        Polymer({
            is: 'list-select',
            properties: {
                icon: String,
                target: String,
                data_name: String,
                service: String,
                params: Object,
                static: String,
                media: String,
                protocol: String,
                hostname: String,
                color: String,
                channel: Number,
                title: String,
                maxlength: Number,
                pattern: String,
                required: Boolean,
                multi: Boolean,
                selection: {notify: true, observer: 'selectionChanged'},
                currentData: {type: Object, notify: true}
            },
            isEqual: function (a, b) {
                if (a == b) {
                    return true;
                } else {
                    return false;
                }
            },
            _getImagePath: function (url) {
                return this.media_url + url;
            },
            repeatObject: function (item) {
                var items = [];
                if (typeof item == 'object') {
                    var count = 0;
                    for (var x in item) {
                        items.push([count, x, item[x]]);
                        count++;
                    }
                }
                return items;
            },
            _iframe: function (evt) {
                this.fire('open-overlay', evt);
                /*
                 if(evt.currentTarget.getAttribute('target')=='_blank') {

                 evt.preventDefault();
                 window.open(evt.target.href,'_blank','location=yes,height=570,scrollbars=yes,status=yes');
                 }else{
                 this.fire('open-overlay', evt);
                 }
                 */

            },
            computeTarget: function (link) {
                return /*link.target ||*/ this.target;
            },
            ready: function () {
                if (this.multi) {
                    this.$.iron_selector.setAttribute("multi", "");
                }

                //this.$.paper_toolbar.style['background-color'] = this.color;
                this.media_url = this.protocol + '//' + this.hostname + this.media;
                this.static_url = this.protocol + '//' + this.hostname + this.static;

                this.dropSelect = "";
                this.$.hidden_input.addEventListener('keydown', function (e) {
                    e.preventDefault();
                });
                if (this.required) {
                    this.$.hidden_input.setAttribute("required", false);
                }


                this.mode = 'list';
                this.grouped = 'yes';
                this.size = 150; //this.$.slider.value = 150;
                this.hidden_element = true;
                this.params['data_name'] = this.data_name;

                var target = this;

                var iron_selector = this.$.iron_selector;

                iron_selector.addEventListener('tap', function () {
                    if (target.multi) {
                        target.selection = this.selectedValues;
                    }
                    else {
                        target.selection = this.selected;
                    }
                    target.$.hidden_input.value = target.selection;
                    target.fire("selected", target.selection);
                    //target.$.submit_form.click();

                });

                this.changeQuantity = function (e) {
                    var index = e.currentTarget.index;
                    var val = e.currentTarget.value;
                    if (val < 1 || typeof val === 'undefined' || val === "" || isNaN(val) || val === null || !val) {
                        for (var i in this.data) {
                            for (var j in this.data[i]) {
                                if (this.data[i][j].index == index) {
                                    this.data[i][j].quantity = 1;
                                }
                            }
                        }
                        e.currentTarget.value = 1;
                        return false;
                    }
                };

                this.removeQuantity = function (e) {
                    var index = e.currentTarget.index;
                    var quantity = e.currentTarget.quantity;
                    for (var i in this.data) {
                        for (var j in this.data[i]) {
                            if (this.data[i][j].index == index) {
                                if (quantity > 1) {
                                    this.data[i][j].quantity = parseFloat(this.data[i][j].quantity) - 1;
                                }
                                e.currentTarget.quantity = this.data[i][j].quantity;
                            }
                        }
                    }
                };

                this.addQuantity = function (e) {
                    var index = e.currentTarget.index;
                    var quantity = e.currentTarget.quantity;
                    for (var i in this.data) {
                        for (var j in this.data[i]) {
                            if (this.data[i][j].index == index) {
                                this.data[i][j].quantity = parseFloat(this.data[i][j].quantity) + 1;
                                e.currentTarget.quantity = this.data[i][j].quantity;
                            }
                        }
                    }
                };

                var post_ajax = document.createElement("post-ajax");
                post_ajax.protocol = this.protocol;
                post_ajax.hostname = this.hostname;
                post_ajax.channel = this.channel;
                post_ajax.service = this.service;
                post_ajax.params = this.params;
                post_ajax.channel = this.channel;
                post_ajax.postready = true;
                post_ajax.addEventListener("response-ready", function (e) {
                    var payload = e.detail.response;
                    target.cols = payload.response.data_source.cols;
                    target.rows = payload.response.data_source.rows;
                    target.groups = payload.response.data_source.groups;
                    /*
                     if(Object.keys(target.groups).length>0){
                     target.currentGroups = [target.groups[0]];
                     }
                     */
                    target.currentGroups = target.groups;
                    target.data = payload.response.data_source.data;
                    /*
                     if(Object.keys(target.data).length>0){
                     target.currentData = [target.data[0]];
                     }
                     */
                    target.currentData = target.data;
                    target.fire("selected", target.selection);

                });

                this.typeFilter = function (e) {
                    var valy = e.currentTarget.selectedItem.innerHTML;
                    if (valy && typeof valy != "undefined") {
                        target.params['type'] = valy;
                        post_ajax.postready = false;
                        post_ajax.service = target.service;
                        post_ajax.params = target.params;
                        post_ajax.postready = true;
                        delete target.params.type;
                    }
                    else {
                        delete target.params.type;
                    }
                };


                this.search = function (e) {
                    var valy = e.currentTarget.value;
                    if (valy && typeof valy != "undefined") {
                        if (e.keyCode === 13) {
                            e.preventDefault();
                            target.params['q'] = valy;
                            post_ajax.postready = false;
                            post_ajax.service = target.service;
                            post_ajax.params = target.params;
                            post_ajax.postready = true;
                        }
                    }
                    else {
                        delete target.params.q;
                    }
                }

            },
            selectionChanged: function () {

                var iron_selector = this.$.iron_selector;


                if (this.multi) {
                    iron_selector.selectedValues = this.selection;
                }
                else {
                    iron_selector.selected = this.selection;
                }

            },
            jsonify: function (object) {
                return JSON.stringify(object)
            },
            postsLoaded: function (event, response) {
                var payload = response.response;
                this.cols = payload.response.data_source.cols;
                this.rows = payload.response.data_source.rows;
                this.groups = payload.response.data_source.groups;
                this.data = payload.response.data_source.data;

                //this.response = JSON.stringify(payload);
                //for(key in payload){ console.log('Key: '+key+' Value: '+payload[key]); }
                if (payload.response_status == '00') {
                    console.log("Success");
                }
            }


        });
    </script>
</dom-module>
