<link rel="import" href="../../bower_components/google-map/google-map.html">

<dom-module id="map-element">
    <style>
        :host {
            background: transparent;
            border: 0;
            padding: 0;
            font-size: inherit;
        }

        #google_map {
            width: 100%;
            height: 400px;
            display: block;
            clear: both;
        }

    </style>

    <template>
        <google-map id="google_map" longitude="0.0" latitude="0.0" zoom="2">
        </google-map>
    </template>
</dom-module>
<script>
    Polymer({
        is: "map-element",
        prperties: {
            title: String,
        },
        ready: function () {
            mapinputs = [[-1.27591, 36.790082, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, null], [1, 38, null], [1, 38, null], [1, 38, null], [1, 38, null], [-1.302159, 37.301176, null], [-1.302159, 37.301176, null], [-1.27588, 36.789971, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [1, 38, "Test Customer"], [-1.275451, 36.789761, "Test Customer"]];
            var google_map = this.$.google_map;

            console.log(JSON.stringify(mapinputs));

            for (var k0 in mapinputs) {
                console.log(JSON.stringify(mapinputs[k0]));
                var map_marker = document.createElement("google-map-marker");
                map_marker.setAttribute("longitude", mapinputs[k0][1]);
                map_marker.setAttribute("latitude", mapinputs[k0][0]);
                map_marker.setAttribute("title", mapinputs[k0][2]);

                var title = document.createElement("p");
                title.innerHTML = "Title: " + mapinputs[k0][2];
                Polymer.dom(map_marker).appendChild(title)

                Polymer.dom(google_map).appendChild(map_marker);
            }

        },

    });
</script>

