<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="music-player">
    <style>
        :host {
        }

        paper-dialog {
            max-width: 350px;
            max-height: 350px;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 4px;
        }

        p, h2 {
            word-wrap: break-word;
        }

    </style>
    <template>
        <content>
            <div>
                <paper-icon-button icon="av:play-circle-filled" id="paper_button"></paper-icon-button>

                <paper-dialog id="paper_dialog">
                    <h2>[[title]]</h2>
                    <object width="280px" height="150px" data="http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf"
                            type="application/x-shockwave-flash">
                        <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf"/>
                        <param name="allowfullscreen" value="true"/>
                        <param name="allowscriptaccess" value="always"/>
                        <param name="quality" value="high">
                        <param name="bgcolor" value="#000000">
                        <param name="flashvars" value="[[config]]"/>
                    </object>
                    <p>[[description]]</p>
                </paper-dialog>


            </div>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'music-player',
        properties: {
            title: String,
            description: String,
            url: {type: String, observer: 'urlChanged'},
        },
        ready: function () {
            var target = this;
            this.$.paper_button.addEventListener('tap', function () {
                target.$.paper_dialog.open();
            });

            this.config = 'config=' + JSON.stringify(this.configuration());
        },
        urlChanged: function () {
            this.config = 'config=' + JSON.stringify(this.configuration());

        },
        configuration: function () {

            var ext = this.url.substring(this.url.lastIndexOf("."));
            var url = ext.replace('.', '') + ':' + this.url.replace(ext, '');
            var title = this.title;
            var configuration = {
                clip: {
                    autoPlay: "true",
                    autoBuffering: "true",
                    //url: this.url,
                    bufferLength: 1,
                    provider: "rtmp",
                    start: 0,
                    duration: 60
                },
                playlist: [
                    {url: url, title: title, autoPlay: true},
                ],
                plugins: {
                    rtmp: {
                        url: "flowplayer.rtmp-3.2.13.swf",
                        netConnectionUrl: "rtmp://bitklip.com/vod"
                    },
                    controls: {
                        backgroundGradient: [0.1, 0.3, 0, 0, 0],
                        bufferGradient: "none",
                        sliderColor: "#272727",
                        backgroundColor: "#",
                        sliderGradient: "small",
                        buttonOverColor: "#272727",
                        borderRadius: "0px",
                        buttonColor: "#565656",
                        timeColor: "#CCCCCC",
                        progressColor: "#565656",
                        durationColor: "#ffffff",
                        bufferColor: "#CCCCCC",
                        progressGradient: "medium",
                        opacity: 1
                    }
                }
            }
            return configuration;

        },
    });
</script>


