<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<link rel="import" href="post-list.html">

<dom-module id="mysection-element">
    <style>
        #section {
        / / box-shadow: rgba(0, 0, 0, 0.0980392) 0 px 2 px 4 px, rgba(0, 0, 0, 0.0980392) 0 px 0 px 3 px;
        / / background-color: rgb(250, 250, 250);
            background: transparent;
        }

        #section1 {
            height: 100%;
            box-sizing: border-box;
        / / background-color: rgb(221, 221, 221);
            background: transparent;
        }

        #section2 {
        / / height: 5000 px;
            height: 100%;
        / / background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
            background: transparent;
        }

        #paper_toolbar, #paper_toolbar_header {
        / / color: rgb(241, 241, 241);
        / / fill: rgb(241, 241, 241);
            background: none;
            background-repeat: no-repeat;
        }

        paper-scroll-header-panel {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        / / background-color: var(--paper-grey-200, #eee);;
        / / background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
            background: transparent;

        }

        #paper_tabs {
            background: none;
        }

        paper-toolbar {
        / / background-color: var(--google-blue-500, #4285f4);
            background: transparent;
        }
		/* 
        paper-toolbar iron-icon {
            margin: 0 8px;
        }
		*/
        paper-toolbar .title {
            margin: 0 8px;
        }

        paper-scroll-header-panel .content {
            padding: 8px;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            padding-top: 20px;
        }

        /*  .container {
            width: 90%;
            margin: 2%;
          }
        */
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        #spinner_dialog {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
        }

        paper-drawer-panel {
        / / display: none;
        }

        .tagline {
            font-size: small;
            color: #CCC;
        }

        iron-icon {
            height: inherit;
        }
    </style>
    <template>
        <!--
        <post-ajax id="post_ajax"
            protocol = [[protocol]]
            hostname = [[hostname]]
            channel = [[channel]]
            service = [[service]]
            params = [[params]]
            channel = [[channel]]
            postready = "true">
        </post-ajax>
        -->
        <paper-dialog id="spinner_dialog" modal opened>
            <div>
                <paper-spinner active class="loading"></paper-spinner>
            </div>
        </paper-dialog>
        <!--<paper-toolbar id="paper_toolbar_header" style$="background: [[gateway.background_image]];">

        <div class="flex wrap title">[[gateway.name]]</div>
              <paper-menu-button horizontal-align="left" horizontal-offset="20" vertical-align="top" vertical-offset="50">
            <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
            <paper-menu class="dropdown-content">
                <paper-item on-tap="refresh">
                    <iron-icon icon="refresh"></iron-icon>
                </paper-item>
                <template is="dom-if" if="[[session]]">
                    <paper-item on-tap="logout">
                        <iron-icon icon="exit-to-app"></iron-icon>
                    </paper-item>
                </template>
            </paper-menu>
              </paper-menu-button>
    </div>

             </paper-toolbar>-->
        <section id="section2" class="content container-default" content>

        </section>


    </template>
</dom-module>

<script>
    var media = window.matchMedia('(min-width: 1024px)');
    Polymer({
        is: "mysection-element",
        properties: {
            csrf_token: String,
            static: String,
            media: String,
            session: {
                notify: true,
                type: Boolean,
                value: function () {
                    var session = localStorage.getItem('session');
                    if (session && typeof session != 'undefined') {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            },

            page: {value: {}},
            postready: {type: Boolean, notify: true},
            group: {value: 0},
            currentContent: {value: {}},
            params: {type: Object, value: {}},
            channel: {value: 1},
            content: {value: {}},
            bgcolor: {value: 'rgb(250,250,250)'},
            hostname: {value: window.location.hostname},
            protocol: {value: window.location.protocol},
            service: String,
        },
        repeatObject: function (item) {
            var items = [];
            if (typeof item == 'object') {
                var count = 0;
                for (var x in item) {
                    items.push([count, x, item[x]]);
                    count++;
                }
            }
            return items;
        },
        refresh: function () {
            window.location.reload();
        },
        logout: function () {
            localStorage.clear();

            if (this.session && this.channel == 1) {
                var isInIFrame = (window.location != window.parent.location);
                //var isInIFrame = window.frameElement && window.frameElement.nodeName == "IFRAME";
                if (isInIFrame == true) {
                    window.open('/logout', "Logout", "toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=100,height=100");
                    window.location.reload();
                }
                else {
                    window.location.href = '/logout'
                }
            }
        },
        ready: function () {

            this.media_url = this.protocol + '//' + this.hostname + this.media;
            this.static_url = this.protocol + '//' + this.hostname + this.static;
            this.$.spinner_dialog.open();
            console.log('HASH PATH: ' + window.location.hash);

            var target = this;

            var postEvent = function (e) {
                target.$.spinner_dialog.close();

                var payload = e.detail.response;
                var session = localStorage.getItem('session');
                if (session && typeof session != 'undefined') {
                    target.session = true;
                }

                if ('response' in payload && 'get_gateway_details' in payload.response && Object.keys(payload.response.get_gateway_details).length > 0) {
                    target.gateway = payload.response.get_gateway_details;
                } else {
                    console.log('No Gateway');
                }
                if ('response' in payload && 'get_institution_details' in payload.response && Object.keys(payload.response.get_institution_details).length > 0) {
                    target.gateway = payload.response.get_institution_details;
                } else {
                    console.log('No Institution');
                }

                if ('get_section' in payload.response) {
                    if ('this_page_inputs' in payload.response.get_section) {

                        target.items = '';
                        target.page = payload.response.get_section.this_page_inputs;
                        var section = Polymer.dom(target.$.section2);
                        section.innerHTML = "";

                        for (k in target.page) {
                            for (k0 in target.page[k]) {
                                if (k0 != 'section_var') {
                                    for (var k1 in target.page[k][k0]) {
                                        if (k1 != 'page_var') {
                                            var page = document.createElement("div"); //PAGE DIV
                                            page.setAttribute("class", "row");
                                            for (var k2 in target.page[k][k0][k1]) {
                                                for (var k3 in target.page[k][k0][k1][k2]) {
                                                    var post_list = document.createElement("post-list");

                                                    //post_list.setAttribute("class", target.page[k][k0][k1][k2][k3].input_var[7]);
													post_list.setAttribute("class", "col-md-13");
                                                    post_list.setAttribute("show", "all");
                                                    post_list.setAttribute("istitle", k3);
                                                    post_list.setAttribute("csrf_token", target.csrf_token);
                                                    post_list.setAttribute("protocol", target.protocol);
                                                    post_list.setAttribute("hostname", target.hostname);
                                                    post_list.setAttribute("color", target.gateway.default_color.color);
                                                    post_list.setAttribute("channel", target.channel);
                                                    post_list.setAttribute("static", target.static);
                                                    post_list.setAttribute("media", target.media);
                                                    post_list.setAttribute("params", target.jsonify(target.params));
                                                    post_list.setAttribute("original_items", JSON.stringify(target.page[k][k0][k1][k2][k3]));
                                                    page.appendChild(post_list);
                                                }
                                            }

                                            section.appendChild(page);
                                        }
                                    }
                                }
                            }
                        }

                    }
                } else {
                    console.log('No Interface');
                }
            }

            var post_ajax = document.createElement("post-ajax");
            post_ajax.protocol = this.protocol;
            post_ajax.hostname = this.hostname;
            post_ajax.channel = this.channel;
            post_ajax.service = this.service;
            post_ajax.params = this.params;
            post_ajax.channel = this.channel;
            post_ajax.postready = true;

            post_ajax.addEventListener("response-ready", postEvent);

        },
        getCSRFCookie: function () {
            b = document.cookie.match('(^|;)\\s*csrftoken\\s*=\\s*([^;]+)');
            return b ? b.pop() : '';
        },
        topMenuChanged: function () {

            if (this.topMenu == 'Refresh') {
                window.location.reload();
            }

            if (this.topMenu == 'Exit') {
                if (this.session) {
                    window.location.href = '/logout';
                }
                localStorage.clear();
                this.topMenu = '';
            }

        },
        serializePath: function (obj) {
            result = "";

            for (param in obj)
                result += ( encodeURIComponent(param) + '=' + encodeURIComponent(obj[param]) + '&' );
            if (result) //it's not empty string when at least one key/value pair was added. In such case we need to remove the last '&' char
                result = result.substr(0, result.length - 1); //If length is zero or negative, substr returns an empty string [ref. http://msdn.microsoft.com/en-us/library/0esxc5wy(v=VS.85).aspx]
            return result;
        },
        hashPath: function (str) {
            if (typeof str !== 'string') {
                return {};
            }
            str = str.trim().replace(/^\?/, '');

            if (!str) {
                return {};
            }

            return str.trim().split('&').reduce(function (ret, param) {
                var parts = param.replace(/\+/g, ' ').split('=');
                ret[parts[0]] = parts[1] === undefined ? null : decodeURIComponent(parts[1]);
                return ret;
            }, {});
        },
        capitalize: function (item) {
            item = item.toLowerCase().split(" ");
            var new_item = [];
            for (i = 0; i < item.length; i++) {
                new_item[i] = item[i].substr(0, 1).toUpperCase() + item[i].substr(1);
            }
            return new_item.join(" ");
        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },
        injectBoundHTML: function injectBoundHTML(html, element) {
            var template = document.createElement('template', 'dom-bind');
            var doc = template.content.ownerDocument;
            var div = doc.createElement('div');
            div.innerHTML = html;
            template.content.appendChild(div);
            while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
            element.appendChild(Polymer.Base.instanceTemplate(template));
        },
        keys: function (obj) {
            if (obj && typeof obj === 'object') {
                //obj = Object.keys(obj);
                //obj.sort();
                //return obj;
                return Object.keys(obj);
            }
        },

    });
</script>
