<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="post-list.html">
<dom-module id="page-element">
    <style>


    </style>
    <template>
		<!-- <paper-tabs selected="{{selected}}" id="paper_tabs" horizontal center layout scrollable
                    style$="background-color: [[color]];" no-bar> -->
		<paper-tabs selected="{{selected}}" id="paper_tabs" horizontal center layout scrollable
                    no-bar class="tabInner_1">
		<!-- <paper-tabs selected="{{selected}}" id="paper_tabs" horizontal center layout scrollable
                    style="box-shadow: none" no-bar> -->
        </paper-tabs>
        <iron-pages id="iron_pages" selected="[[selected]]" style="border-left: 3px solid [[color]]; border-right: 3px solid [[color]];	border-bottom: 3px solid [[color]]; " class="container-fluid horizontal center wrap"></iron-pages>
    </template>
</dom-module>
<script>
	var watchcntr = 0;
	var existFtr= false;
    Polymer({
        is: 'page-element',
        properties: {
            csrf_token: String,
            protocol: String,
            hostname: String,
            channel: Number,
            static: String,
            media: String,
            page: {type: Object, observer: 'pageChanged',},
            color: {type: String, observer: 'colorChanged',},
            selected: {type: Number, notify: true,},
            group: {type: Number, observer: 'pageChanged'},
            //spinner: {type: Boolean, notify: true, },
            //currentContent: {observer: 'currentContentChanged', value: {}},
            currentContent: {
                type: Object,
                value: {},
            },
            content: {value: {}},
            params: {type: Object, value: {}},
        },
        observers: ['currentContentChanged(currentContent,color)'],
        ready: function () {
            //this.currentContent = {};
            //this.content = {};
			//alert(ftrsObj.isInitial +"<==>"+(++watchcntr));
			
        },
        capitalize: function (item) {
            item = item.toLowerCase().split(" ");
            var new_item = [];
            for (i = 0; i < item.length; i++) {
                new_item[i] = item[i].substr(0, 1).toUpperCase() + item[i].substr(1);
            }
            return new_item.join(" ");
        },
        pageVarFilter: function() {

                string = 'page_var';
                return function (employee) {
                    var first = employee.firstname.toLowerCase();
                    var last = employee.lastname.toLowerCase();
                    return (first.indexOf(string) != -1 ||
                    last.indexOf(string) != -1);
                };

        },
        pageChanged: function () {
            /****PAGES TO SECTIONS**/
            var i = 0;
            for (k0 in this.page) {
                //this.content[i] = this.page[k0];
                var removeZeroPage = function (this_page) {
                    var page = {};
                    for (var k0 in this_page) {
                        if (k0 > 0) {
                            page[k0] = this_page[k0];
                        }
                    }
                    return page;
                }
                this.content[i] = removeZeroPage(this.page[k0]);

                i++;
            }

            if (Object.keys(this.content).length > 0) {
                this.currentContent = this.content[this.group];
            }

            //this.spinner = false;

        },
        colorChanged: function () {
            this.customStyle['--gateway-default-color'] = this.color;
            this.customStyle['--paper-fab-background'] = this.color;
            this.customStyle['--paper-fab-keyboard-focus-background'] = this.color;
            this.customStyle['--paper-toolbar-background'] = this.color;
            this.customStyle['--paper-toast-color'] = this.color;

            this.updateStyles();
        },
        currentContentChanged: function () {


            /************PAPER TABS**************/
			var ths_session = this.showtabs;
			
            var paper_tabs = Polymer.dom(this.$.paper_tabs);
            paper_tabs.innerHTML = "";
            for (var k0 in this.currentContent) {
                if (k0 != 'section_var') {
					var paper_tab = null;
					
                    for (var k1 in this.currentContent[k0]) {
                        if (k1 != 'page_var') {
							
							if (ths_session){
								var paper_tab = document.createElement("paper-tab");
								var contner = document.createElement('div');
								var iron_icon = document.createElement("iron-icon");
								iron_icon.setAttribute("icon", this.currentContent[k0].page_var[1]);
								contner.appendChild(iron_icon);
								paper_tab.appendChild(contner);
								var cornerDiv = document.createElement('div');
								cornerDiv.setAttribute("class","triangle-bottomleft");
								paper_tab.appendChild(cornerDiv);
							}else{
								paper_tab = document.createElement("button");
							}
														
                            var name = document.createElement('span');
                            name.innerHTML = '&nbsp;' + this.capitalize(k1);
							if (ths_session){
								contner.appendChild(name);
								paper_tabs.appendChild(paper_tab);
							}
                        }
                    }
                }
            }
            /***************END OF PAPER TABS************/


            /***********IRON PAGES**************/
			var iron_pages = Polymer.dom(this.$.iron_pages);
			var c1$ = Polymer.dom(iron_pages).childNodes[0];
			var closeButton = Polymer.dom(iron_pages).firstChild;
			var initInner = iron_pages.innerHTML;
			if (!ths_session){
				iron_pages = document.querySelector("#showDialog8");
			}
			
            iron_pages.innerHTML = "";
			
			if (!ths_session){
				var divbt1 = document.createElement("div");
				divbt1.setAttribute("style","width: 100%; margin: -26px 1px 1px 40px; border-radius: 3px;");
				var dialogBtn = document.createElement("paper-button");
				dialogBtn.setAttribute("class","dialogBtn_thm_1");
                dialogBtn.addEventListener('click', function (e) {
					document.querySelector("my-element").closeDialog8();
				});
				var divbtIcon = document.createElement("iron-icon");
				divbtIcon.setAttribute("icon","icons:close");			
				divbtIcon.setAttribute("class","closeModal");
				Polymer.dom(dialogBtn).appendChild(divbtIcon);
				divbt1.appendChild(dialogBtn);
				iron_pages.appendChild(divbt1);
			}
            for (var k0 in this.currentContent) {
                if (k0 != 'section_var') {
                    for (var k1 in this.currentContent[k0]) {
                        if (k1 != 'page_var') {
                            var page = document.createElement("div"); //PAGE DIV
                            //page.setAttribute("class", "row");
							if (!ths_session){
								page.setAttribute("style","margin: -4px -46px -11px -41px; display:none;");
							}
							
                            for (var k2 in this.currentContent[k0][k1]) {
                                for (var k3 in this.currentContent[k0][k1][k2]) {
                                    var post_list = document.createElement("post-list");

                                    //post_list.setAttribute("class", this.currentContent[k0][k1][k2][k3].input_var[7]);
									post_list.setAttribute("class", "col-md-13");
									post_list.setAttribute("style", "width: "+this.currentContent[k0][k1][k2][k3].input_var[11]+"px");
                                    post_list.setAttribute("show", "all");
                                    post_list.setAttribute("istitle", k3);
                                    post_list.setAttribute("csrf_token", this.csrf_token);
                                    post_list.setAttribute("protocol", this.protocol);
                                    post_list.setAttribute("hostname", this.hostname);
                                    post_list.setAttribute("color", this.color);
                                    post_list.setAttribute("channel", this.channel);
                                    post_list.setAttribute("static", this.static);
                                    post_list.setAttribute("media", this.media);
                                    post_list.setAttribute("params", this.params);
									var exId = this.currentContent[k0][k1][k2][k3].input_var[7];									
									post_list.setAttribute("id", "showDlog"+exId.substr(exId.length - 1));
									if (!ths_session){
										post_list.setAttribute("style", "display:none");
									}

                                    post_list.setAttribute("original_items", JSON.stringify(this.currentContent[k0][k1][k2][k3]));
									//if login initial sensed
									if(k3.localeCompare("Login")==0){
										ftrsObj.isInitial == false? ftrsObj.isInitial = true:null;
										ftrsObj['imemSz'] = this.currentContent[k0][k1][k2][k3].length-1;
									}
									function findTitle(ftr) { 
										return ftr.title === k3;
									}
									
									$.each(ftrsObj['ftr'], function (index, value) {
										k3.localeCompare(value.title)==0?existFtr=true:null;
									});
									if(!existFtr){									
										//Append to features object									
										ftrsObj['ftr'].push({"title":k3,"dlgId":"showDlog"+exId.substr(exId.length - 1),"icon":this.currentContent[k0][k1][k2][k3].input_var[8]});
									}
                                    page.appendChild(post_list);
                                }
                            }
							if (ths_session){
								//iron_pages.appendChild(closeButton);
								//iron_pages.innerHTML = initInner;
							}
							
							iron_pages.appendChild(page);
                        }
                    }
                }
            }

            /***********END OF IRON PAGES**************/


        },
        jsonify: function (object) {
            return JSON.stringify(object)
        }

    });
</script>


