<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../../src/css/main_landing.css">
<dom-module id="read-element">
<style>
	:root {

                --app-primary-color: #fcfcfc;
                --app-secondary-color: #eb2027;
                --app-accent-color: #260000;
                --app-default-color: #1b9cb3;

                --paper-button-ink-color: var(--app-accent-color);
                --paper-icon-button-ink-color: var(--app-accent-color);
                --paper-spinner-color: var(--app-accent-color);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: var(--app-primary-color);
            }

            section {

            	background-color: var(--app-default-color);
            }
            p {
            	color: #fff !important;
            }

</style>
	<template>
	<section id="read" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Welcome To InterIntel Technologies</h2>
								<p style="text-align:justify; width: 95%;">
                	Over the past decade the information and telecommunications (ICT) sector has been among the major drivers of economic growth for Sub Saharan Africa and is expected to be the driving force of fundamental economic change within the continent. Equally the telecommunications and broadband market has undergone a revolution following the arrival of fiber optic international submarine cables, ending its dependency on limited and expensive satellite bandwidth. </p>
                    
                <p style="text-align:justify; width: 95%;">
                We at InterIntel Technologies recognize that there is, and will continue to be a huge untapped market of business opportunities with the increase in uptake and usage of mobile telephony as a primary channel of business transactions. Windows of opportunity have also come up through the multinational telecom companies who have made massive investments locally, thus giving us access to global markets. In addition, the international donor community, NGOS and government agencies are increasingly interested in participation in the telecommunication boom and are constantly developing new mobile phone based information services.</p>
                    
                <p style="text-align:justify; width: 95%;">
                Our team of developers and relevant business management experts work tirelessly to ensure we increasingly position ourselves to offer effective, innovative, transformational, futuristic , and customized solutions to our clients and partners across borders and industry divide to enable them compete in the ever changing environment.</p>

							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

	</template>

</dom-module>
<script>
	Polymer ({
		is: "read-element"
	})
</script>