<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="static-dropdown-select">
    <style>
        :host {
            --paper-dropdown-menu-button: {
                width: 100%;
            }
        }

        .content {
            @apply(--layout-horizontal);
        }

        paper-dropdown-menu {
            @apply(--layout-flex);
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }

        iron-icon {
            height: inherit;
        }
    </style>

    <template>
        <content>
            <div class="content">
                <iron-icon icon="[[icon]]" prefix></iron-icon>
                <paper-dropdown-menu label="[[title]]" id="paper_dropdown_menu">
                    <paper-menu horizontal-align="left" class="dropdown-content" selected="{{dropdownValue}}">
                        <template is="dom-repeat" items="[[data]]" as="data">
                            <paper-item>[[data]]</paper-item>
                        </template>
                    </paper-menu>
                </paper-dropdown-menu>
            </div>
        </content>
        <br>
        <input
                tabindex="-1"
                class="hidden-input"
                name="[[data_name]]"
                id="hidden_input"
                type="text"
                value="{{checked}}"
                maxlength="[[maxlength]]"
                pattern="[[pattern]]"
                required="[[required]]"/>

    </template>
</dom-module>
<script>
    Polymer({
        is: 'static-dropdown-select',
        properties: {
            icon: String,
            data_name: String,
            data_items: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            dropdownValue: {observer: "dropdownValueChanged"},
            data: {value: []}
        },
        isEqual: function (a, b) {
            if (a == b) {
                return true;
            } else {
                return false;
            }
        },
        repeatObject: function (item) {
            var items = [];
            if (typeof item == 'object') {
                var count = 0;
                for (var x in item) {
                    items.push([count, x, item[x]]);
                    count++;
                }
            }
            return items;
        },
        ready: function () {

            this.$.paper_dropdown_menu.$$('paper-menu-button').horizontalAlign = 'left';

            window.list = this.$.list;
            this.dropdownValue = "";
            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });

            this.checked = "";
            this.multi = false;
            this.mode = 'list';
            this.grouped = 'yes';
            this.size = 150; //this.$.slider.value = 150;
            this.data = [];
            this.groups = [];

            this.data = this.data_items.split("|")
            /*
             for(var k0 in data_items_split){
             var item = [];
             var key_val = data_items_split[k0];
             item.push(key_val);
             this.data.push(item)
             }
             */


        },
        dropdownValueChanged: function () {
            if (this.data.length > 0) {
                this.checked = this.data[this.dropdownValue];
            }
        },

    });
</script>


