<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../../../src/css/main_landing.css">
<dom-module id="third-read-element">
<style>
	:root {

                --app-primary-color: #fcfcfc;
                --app-secondary-color: #eb2027;
                --app-accent-color: #260000;
                --app-default-color: #1b9cb3;

                --paper-button-ink-color: var(--app-accent-color);
                --paper-icon-button-ink-color: var(--app-accent-color);
                --paper-spinner-color: var(--app-accent-color);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: var(--app-primary-color);
            }

            section {
            	background-color: var(--app-secondary-color);
            }
</style>
	<template>
	<section id="third-read" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Our Products and Services</h2>
								<p style="text-align:justify; width: 95%;">InterIntel is a Software Development company with its forte around payment systems and channels of payments. This covers different faucets, from mobile channels (Mobile Apps, SMS, USSD), Web Channels, Payments Integrations, from cards (VISA, MasterCard, AMEX etc), Mobile Money(with Telco’s), Banks, Micro-finance/Lending institutions, Remittance (Western Union) etc.</p>
								<p style="text-align:justify; width: 95%;">Our focus concentrates mainly on services that can be provided to add value to payment systems. We handle complex integrations to system development and maintenance. We also provide "go to market" planning services which highlights the business and technical implementation of different solutions. Our development scope is quite wide with primary focus on services that have relevance around ways of achieving payments.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o">
									<h3>Software Development</h3>
									<p>At InterIntel we analyze your needs and design and develop a multifaceted system to meet all your business needs. We have developed a wide range of systems that covers most financial and business platforms.</p>
								</li>
								<li class="icon fa-laptop">
									<h3>M-Commerce and E-Commerce</h3>
									<p>  We have a team of developers with diverse range of in-house skills, capable of undertaking a wide range of software projects and offering game changing solutions.</p>
								</li>
								<li class="icon fa-code">
									<h3>Networks and Infrastructure</h3>
									<p>Effective Corporate Computer Networks continue to be the key for computer systems in business to evolve and they evolve from mere data carriers in local areas to complex wide area voice and data connections between remote sites facilitated by varying technologies.</p>
								</li>
								<li class="icon fa-headphones">
									<h3>Mobile Applications Development</h3>
									<p>Mobile applications allow interactive applications that run on smartphones to be configured to provide a channel of access for different services. Platforms supported are; Android, iOS, Blackberry, Windows Phone.
</p>
								</li>
								<li class="icon fa-heart-o">
									<h3>Web Channels</h3>
									<p>The web channel allows access of services from a website once a user logs into the web channel. This means that with access to internet, the end users are able to access services on any browser. </p>
								</li>
								<li class="icon fa-flag-o">
									<h3>Card Payments</h3>
									<p>Cards are mainly used on till transactions, PDQ’s or on automated teller machines to make payments or for loyalty programs. There exist two categories of cards, contact and contactless cards. Both of these cards can offer channels that can be integrated to the switch to offer different services.</p>
								</li>
								<li class="icon fa-paper-plane-o">
									<h3>MNO Services</h3>
									<p>USSD (Unstructured Supplementary Data), SMS (Short Message Service), IVR (Interactive Voice Response)</p>
								</li>
								<li class="icon fa-laptop">
									<h3>Cloud Solutions</h3>
									<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
								</li>
							</ul>
						</div>
					</section>

	</template>

</dom-module>
<script>
	Polymer ({
		is: "third-read-element"
	})
</script>