<link rel="import" href="../../bower_components/paper-time-picker/paper-time-picker.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">


<dom-module id="time-element">
    <style>
        :host {
            /* margin: 15px; */
        }

        .btn {
            width: 100%;
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }

    </style>
    <template>
        <section>
            <input
                    tabindex="-i"
                    class="hidden-input"
                    name="[[data_name]]"
                    id="hidden_input"
                    type="text"
                    maxlength="[[maxlength]]"
                    pattern="[[pattern]]"
                    required="[[required]]"
                    value="[[time]]"/>

            <paper-button class="btn" on-tap="showDialog" raised>
                <span>[[title]]</span><br>
                <span>[[ time ]]</span>
            </paper-button>

            <paper-dialog id="dialog" class="paper-time-picker-dialog" modal>
                <paper-time-picker id="picker" time="[[time]]"></paper-time-picker>
                <div class="buttons">
                    <paper-button dialog-dismiss>CANCEL</paper-button>
                    <paper-button dialog-confirm on-tap="timeSelected">OK</paper-button>
                </div>
            </paper-dialog>
        </section>
    </template>
</dom-module>
<script>
    Polymer({
        is: "time-element",
        properties: {
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,

        },
        ready: function () {
            //this.customStyle['--default-background-color'] = this.color;
            this.customStyle['--default-primary-color'] = this.color;
            //this.customStyle['--dark-primary-color'] = this.color;
            this.updateStyles();

            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });

            var target = this;
            this.updateTime = function (hour, minute) {
                var time;
                time = (hour % 12 || 12) + ':' + ('0' + minute).substr(-2);
                time += ' ' + ['pm', 'am'][+(hour < 12)];

                //time = ('0' + hour).substr(-2) + ':' + ('0' + minute).substr(-2); //24hr Clock

                return time;
            }
            this.hour = this.hour ? this.hour : new Date().getHours();
            this.minute = this.minute ? this.minute : new Date().getMinutes();


            this.timeSelected = function () {
                target.time = target.$.picker.time;
            };
            this.showDialog = function () {
                target.$.dialog.toggle();
            };

            this.time = this.updateTime(this.hour, this.minute);
        },
    });
</script>

