:root{
    --primary-color: #B1D7DC;
    --accent-color: #FF3F90;
}


/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid var(--primary-color);
  border-bottom:0;
  position:absolute;
  bottom:0;
  z-index: 9000;
  opacity: 0.7;
}

