<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<dom-module id="mqtt-element">
    <style>
    </style>

    <template>
        <content>
		<div>
			<p>MQTT Element</p>
        		<button on-tap="MQTTconnect">1. Connect</button>
		        <button name="testtopic/bar/#" on-tap="MQTTsubscribe">2. Subscribe</button>
		        <button name="testtopic/bar" value="Hello Foo !" on-tap="MQTTpublish">3. Publish</button>
		        <button on-tap="MQTTdisconnect">(4. Disconnect)</button>
		        <div id="messages"></div>
		</div>
	</content>
    </template>
</dom-module>
<script src="paho.javascript-1.0.2/mqttws31-min.js" type="text/javascript"></script>
<script>
    Polymer({
        is: 'mqtt-element',
        properties: {
        },
	ready: function(){
		var target = this;
		this.client = new Paho.MQTT.Client(window.location.hostname, 443, "/ws", "myclientid_" + parseInt(Math.random() * 100, 10));
		 //Connect Options
		 this.options = {
		     timeout: 3,
		     useSSL: true,
		     cleanSession: true,
		     userName : "Super@User",
		     password : "apps",
		     //Gets Called if the connection has sucessfully been established
		     onSuccess: function () {
		         alert("Connected");
		     },
		     //Gets Called if the connection could not be established
		     onFailure: function (message) {
		         alert("Connection failed: " + message.errorMessage);
			//setTimeout(MQTTconnect, 2000);
		     }
		 };


		 //Gets  called if the websocket/mqtt connection gets disconnected for any reason
		 this.client.onConnectionLost = function (responseObject) {
		     //Depending on your scenario you could implement a reconnect logic here
		     alert("connection lost: " + responseObject.errorMessage);
		 };

		 //Gets called whenever you receive a message for your subscriptions
		 this.client.onMessageArrived = function (message) {
		     //Do something with the push message you received
		     var span = document.createElement('span');
		     span.innerHTML = 'Topic: ' + message.destinationName + '  | ' + message.payloadString;
		     target.$.messages.appendChild(span);
		     target.$.messages.appendChild(document.createElement('br'));
		 };

		this.MQTTdisconnect = function (e){
			target.client.disconnect();
			};

		this.MQTTpublish = function (e){
			var message = new Paho.MQTT.Message(e.target.value);
			message.destinationName = e.target.name;
			target.client.send(message);

			};


		this.MQTTsubscribe = function (e){
			target.client.subscribe(e.target.name); 
			alert('Subscribed');
			};

		this.MQTTconnect = function (e){
		         //Using the HiveMQ public Broker, with a random client Id
			target.client.connect(target.options);
 //Creates a new Messaging.Message Object and sends it to the HiveMQ MQTT Broker
			};
	},
    });
</script>


