<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="mqtt-client-element.html">


<dom-module id="mqtt-notification-element">
    <style>
    </style>

    <template>
        <content>
            <mqtt-client-element id="mqttClient"></mqtt-client-element>
            <paper-toast id="toast" text="A Notification!"></paper-toast>
        </content>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'mqtt-notification-element',
        properties: {
            topicString: {
                type: String,
                value: ""
            },
            topicsArray: {
                type: Array,
                computed: '_computeTopics(topicString)'
            },
            topic: {
                type: String,
                value: "notifications/bidID"
            }
        },
        ready: function () {
            var target = this;
            var mqtt = this.$.mqttClient;
            var mqttClient = mqtt.setUp();

            //Gets Called if the connection has sucessfully been established
            mqtt.options.onSuccess = function () {
                target.topicsArray.forEach(function (topic) {
                mqttClient.subscribe(topic);
            });
            };
            //Gets Called if the connection could not be established
            mqtt.options.onFailure = function () {

            };

            mqtt.connect();



            //Gets called whenever you receive a message for your subscriptions
            mqttClient.onMessageArrived = function (message) {
                //Do something with the push message you received
                //var span = document.createElement('span');
                //span.innerHTML = 'Topic: ' + message.destinationName + '  | ' + message.payloadString;
                //target.$.ranking.currentData =JSON.parse(message.payloadString);

                target.$.toast.text = message.payloadString;
                target.$.toast.open();


            };


        },
        _computeTopics: function (topics) {
            return topics.split('|');
        }
    });
</script>


