<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<dom-module id="mqtt-client-element">
    <style>
    </style>

    <template>

    </template>
</dom-module>
<script src="paho.javascript-1.0.2/mqttws31-min.js" type="text/javascript"></script>
<script>
    Polymer({
        is: 'mqtt-client-element',
        properties: {
            client: Object,
            options: {
                type:Object,
                value:{}
            },
            host: {type: String, value: window.location.hostname},
            port: {type: Number, value: 443},
            path: {type: String, value: '/ws'},
            clientId: {type: String, value: "myclientid_" + parseInt(Math.random() * 10000, 10)}
        },
        ready: function () {

        },
        setUp: function () {
            var target = this;
            this.client = new Paho.MQTT.Client(this.host, this.port, this.path, this.clientId);
            //Connect Options
            this.options = {
                timeout: 3,
                useSSL: true,
                cleanSession: true,
                userName: "Super@User",
                password: "apps"
            };

            //Gets  called if the websocket/mqtt connection gets disconnected for any reason
            this.client.onConnectionLost = function (responseObject) {
                //Depending on your scenario you could implement a reconnect logic here
                console.log("connection lost: " + responseObject.errorMessage);
            };

            return this.client;

        },

        disconnect: function () {
            this.client.disconnect();
        },

        publish: function (message, destination) {
            var msg = new Paho.MQTT.Message(message);
            msg.destinationName = destination;
            this.client.send(msg);
        },
        subscribe: function (channel) {
            this.client.subscribe(channel);
            alert('Subscribed');
        },

        connect: function () {
            console.log(JSON.stringify(this.options));
            //Using the HiveMQ public Broker, with a random client Id
            this.client.connect(this.options);
            //Creates a new Messaging.Message Object and sends it to the HiveMQ MQTT Broker
        }


    });
</script>


