<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="shop-form-styles">
    <template>
        <style>

            :host {
                display: block;
            }

            .main-frame {
                margin: 0 auto;
                padding: 0 24px 48px 24px;
                max-width: 900px;
                overflow: hidden;
            }

            .subsection:not([visible]) {
                display: none;
            }

            .empty-cart {
                text-align: center;
                white-space: nowrap;
                color: var(--app-secondary-color);
            }

            h2 {
                font-size: 13px;
            }

        </style>
    </template>
</dom-module>
