<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="shop-common-styles.html">
<link rel="import" href="shop-form-styles.html">
<link rel="import" href="shop-input.html">
<link rel="import" href="shop-select.html">
<link rel="import" href="shop-checkbox.html">

<dom-module id="shop-checkout">

    <template>
        <style include="shop-common-styles shop-form-styles shop-input shop-select shop-checkbox">

            .main-frame {
                transition: opacity 0.5s;
            }

            :host([waiting]) .main-frame {
                opacity: 0.1;
            }

            shop-input, shop-select {
                font-size: 16px;
            }

            shop-select {
                margin-bottom: 20px;
            }

            paper-spinner-lite {
                position: fixed;
                top: calc(50% - 14px);
                left: calc(50% - 14px);
            }

            .billing-address-picker {
                margin: 28px 0;
                height: 20px;
                @apply(--layout-horizontal);
            }

            .billing-address-picker > label {
                margin-left: 12px;
            }

            .grid {
                margin-top: 40px;
                @apply(--layout-horizontal);
            }

            .grid > section {
                @apply(--layout-flex);
            }

            .grid > section:not(:first-child) {
                margin-left: 80px;
            }

            .row1 {
                @apply(--layout-horizontal);
                @apply(--layout-end);
            }

            .column {
                @apply(--layout-vertical);
            }

            .row1 > .flex,
            .input-row > * {
                @apply(--layout-flex);
            }

            .input-row > *:not(:first-child) {
                margin-left: 8px;
            }

            .shop-select-label {
                line-height: 20px;
            }

            .order-summary-row {
                line-height: 24px;
            }

            .total-row {
                font-weight: 500;
                margin: 30px 0;
            }

            @media (max-width: 767px) {

                .grid {
                    display: block;
                    margin-top: 0;
                }

                .grid > section:not(:first-child) {
                    margin-left: 0;
                }

            }

        </style>


        <div class="main-frame">
            <iron-pages selected="[[state]]" attr-for-selected="state">
                <div state="init">
                    <form
                            id="checkoutForm"
                            is="iron-form"
                            method="post"
                            action="#"
                            on-iron-form-response="_didReceiveResponse"
                            on-iron-form-presubmit="_willSendRequest">

                        <div class="subsection" visible$="[[!_hasItems]]">
                            <p class="empty-cart">Your
                                <iron-icon icon="shopping-cart"></iron-icon>
                                is empty.
                            </p>
                        </div>

                        <header class="subsection" visible$="[[_hasItems]]">
                            <h1>Checkout</h1>
                            <span>Shopping cart checkout</span>
                        </header>

                        <div class="subsection grid" visible$="[[_hasItems]]">
                            <section>
                                <h2>Order Summary</h2>
                                <template is="dom-repeat" items="[[cart]]" as="entry">
                                    <div class="row1 order-summary-row">
                                        <div class="flex">[[entry.item.title]]</div>
                                        <div>[[_getEntryTotal(entry)]]</div>
                                    </div>
                                </template>
                                <div class="row1 total-row">
                                    <div class="flex">Total</div>
                                    <div>[[_formatPrice(total,'USD')]]</div>
                                </div>

                            </section>

                            <section>
                                <div visible$="[[_hasItems]]">
                                    <h2>Payment Method</h2>
                                    <p>iframe location</p>
                                    <paper-button id="submitBox" on-tap="_submit" raised>Place Order</paper-button>
                                </div>
                            </section>
                        </div>

                    </form>
                </div>

                <!-- Success message UI -->
                <header state="success">
                    <h1>Thank you</h1>
                    <p>[[response.successMessage]]</p>
                    <shop-button responsive>
                        <a href="/">Finish</a>
                    </shop-button>
                </header>

                <!-- Error message UI -->
                <header state="error">
                    <h1>We couldn&acute;t process your order</h1>
                    <p id="errorMessage">[[response.errorMessage]]</p>
                    <shop-button responsive>
                        <a href="/checkout">Try again</a>
                    </shop-button>
                </header>

            </iron-pages>

        </div>


        <!-- Show spinner when waiting for the server to repond -->
        <paper-spinner-lite active="[[waiting]]"></paper-spinner-lite>

    </template>

    <script>

        Polymer({

            is: 'shop-checkout',

            properties: {


                /**
                 * The total price of the contents in the user's cart.
                 */
                total: Number,

                /**
                 * The state of the form. Valid values are:
                 * `init`, `success` and `error`.
                 */
                state: {
                    type: String,
                    value: 'init'
                },

                /**
                 * An array containing the items in the cart.
                 */
                cart: Array,

                /**
                 * The server's response.
                 */
                response: Object,


                /**
                 * If true, shop-checkout is currently visible on the screen.
                 */
                visible: {
                    type: Boolean,
                    observer: '_visibleChanged'
                },

                /**
                 * True when waiting for the server to repond.
                 */
                waiting: {
                    type: Boolean,
                    readOnly: true,
                    reflectToAttribute: true
                },

                /**
                 * True when waiting for the server to repond.
                 */
                _hasItems: {
                    type: Boolean,
                    computed: '_computeHasItem(cart.length)',
                    value: false
                }
            },

            listeners: {
                //'checkoutForm.iron-form-presubmit':_handleFormSubmit
            },

            handleActualFormSubmit: function () {

                var target = this;

                this.service = 'SHOPPING CART';
                this.params = this.$.checkoutForm.request.body || {};

                var post_ajax = document.createElement("post-ajax");
                post_ajax.protocol = this.protocol;
                post_ajax.hostname = this.hostname;
                post_ajax.channel = this.channel;
                post_ajax.service = this.service;
                post_ajax.params = this.params;
                post_ajax.channel = this.channel;
                post_ajax.postready = true;

                var postEvent = function (e) {

                    var payload = e.detail.response;
                    console.log(JSON.stringify(payload));
                    var session = localStorage.getItem('session');
                    if (session && typeof session != 'undefined') {
                        target.session = true;
                    }
                    /*

                     if ('response' in payload && 'get_interface' in payload.response && 'this_page_inputs' in payload.response.get_interface){
                     target.pageinputs = '';target.page = payload.response.get_interface.this_page_inputs;
                     for(k0 in target.page){ for(k1 in target.page[k0]){ for(k2 in target.page[k0][k1]){ target.pageinputs = target.page[k0][k1][k2]; }}}
                     }else{ console.log('No Interface');  }
                     if ('response' in payload && 'get_interface' in payload.response && 'all_pages' in payload.response.get_interface){
                     target.menu = payload.response.get_interface.all_pages;
                     }else{ console.log('No Menu');  }
                     if ('response' in payload && 'get_gateway_details' in payload.response && Object.keys(payload.response.get_gateway_details).length>0){
                     target.gateway = payload.response.get_gateway_details;
                     }else{ console.log('No Gateway');  }
                     if ('response' in payload && 'get_institution_details' in payload.response && Object.keys(payload.response.get_institution_details).length>0){
                     target.gateway = payload.response.get_institution_details;
                     }else{ console.log('No Institution');  }
                     //target.interface();
                     */
                    target.$.checkoutForm.fire('iron-form-response', {
                        response: {
                            success: 1,
                            successMessage: 'Demo checkout process complete.'
                        }
                    }, {bubbles: false});
                };
                post_ajax.addEventListener("response-ready", postEvent);
            },

            _submit: function (e) {
                if (this._validateForm()) {
                    // To send the form data to the server:
                    // 2) Remove the code below.
                    // 3) Uncomment `this.$.checkoutForm.submit()`.

                    this.$.checkoutForm.fire('iron-form-presubmit', null, {bubbles: false});

                    /*
                     this.debounce('_submitForm', function() {
                     this.$.checkoutForm.fire('iron-form-response', {
                     response: {
                     success: 1,
                     successMessage: 'Demo checkout process complete.'
                     }
                     }, { bubbles: false });
                     }, 1000);
                     */

                    this.handleActualFormSubmit();
                }
            },

            /**
             * Sets the valid state and updates the location.
             */
            _pushState: function (state) {
                this._validState = state;
                this.set('route.path', state);
            },

            /**
             * Checks that the `:state` subroute is correct. That is, the state has been pushed
             * after receiving response from the server. e.g. Users can only go to `/checkout/success`
             * if the server responsed with a success message.
             */
            _activeRouteHandler: function (e) {
                var route = e.target;

                if (e.detail.value) {
                    var state = route.data.state;
                    if (this._validState === state) {
                        this.state = state;
                        this._validState = '';
                        return;
                    }
                }

                this.state = 'init';
            },

            /**
             * Sets the initial state.
             */
            _reset: function () {
                var form = this.$.checkoutForm;

                this._setWaiting(false);
                form.reset();

                // Remove the `aria-invalid` attribute from the form inputs.
                for (var el, i = 0; el = form.elements[i], i < form.elements.length; i++) {
                    el.removeAttribute('aria-invalid');
                }
            },

            /**
             * Validates the form's inputs and adds the `aria-invalid` attribute to the inputs
             * that don't match the pattern specified in the markup.
             */
            _validateForm: function () {
                /*var form = this.$.checkoutForm;
                 var firstInvalid = false;

                 for (var el, i = 0; el = form.elements[i], i < form.elements.length; i++) {
                 if (el.checkValidity()) {
                 el.removeAttribute('aria-invalid');
                 } else {
                 if (!firstInvalid) {
                 // announce error message
                 if (el.nextElementSibling) {
                 this.fire('announce', el.nextElementSibling.getAttribute('error-message'));
                 }
                 if (el.scrollIntoViewIfNeeded) {
                 // safari, chrome
                 el.scrollIntoViewIfNeeded();
                 } else {
                 // firefox, edge, ie
                 el.scrollIntoView(false);
                 }
                 el.focus();
                 firstInvalid = true;
                 }
                 el.setAttribute('aria-invalid', 'true');
                 }
                 }

                 return !firstInvalid;*/
                return true;
            },

            /**
             * Adds the cart data to the payload that will be sent to the server
             * and updates the UI to reflect the waiting state.
             */
            _willSendRequest: function (e) {
                var form = e.target;
                var body = form.request.body;
                this._setWaiting(true);

                if (!body) {
                    //return;
                    body = {};
                }
                // Populate the request body where `cartItemsId[i]` is the ID and `cartItemsQuantity[i]`
                // is the quantity for some item `i`.
                body.cartItemsId = [];
                body.cartItemsQuantity = [];

                this.cart.forEach(function (cartItem) {
                    body.cartItemsId.push(cartItem.item.name);
                    body.cartItemsQuantity.push(cartItem.quantity);
                });

                form.request.body = body;
            },

            /**
             * Handles the response from the server by checking the response status
             * and transitioning to the success or error UI.
             */
            _didReceiveResponse: function (e) {
                var response = e.detail.response;

                this.response = response;
                this._setWaiting(true);

                if (response.success) {
                    this._pushState('success');
                    this._reset();
                    this.fire('clear-cart');
                } else {
                    this._pushState('error');
                }
            },


            _computeHasItem: function (cartLength) {
                return cartLength > 0;
            },

            _formatPrice: function (total, currency) {
                return isNaN(total) ? '' : currency + ' ' + total.toFixed(2);
            },

            _getEntryTotal: function (entry) {
                return this._formatPrice(entry.quantity * entry.item.price, entry.item.currency);
            },

            _visibleChanged: function (visible) {
                if (!visible) {
                    return;
                }
                // Reset the UI states
                this._reset();
                // Notify the page's title
                this.fire('change-section', {title: 'Checkout'});
            }

        });

    </script>

</dom-module>
