<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">


<dom-module id="shop-cart-modal">

    <template>

        <style include="">

            :host {
                display: block;
                position: fixed;
                background-color: #FFF;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                width: 320px;
                padding: 12px;
                visibility: hidden;
                will-change: transform;
                top: 56px;
                right: 16px;
                -webkit-transform: translate3d(calc(100% - 16px), 0, 0);
                transform: translate3d(calc(100% + 16px), 0, 0);
                transition-property: visibility, -webkit-transform;
                transition-property: visibility, transform;
                transition-duration: 0.2s;
                transition-delay: 0.1s;
            }

            :host(.opened) {
                visibility: visible;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }

            .layout-horizontal {
                @apply(--layout-horizontal);
            }

            .label {
                @apply(--layout-flex);
                line-height: 24px;
                margin: 8px;
            }

            .modal-button {
                @apply(--layout-flex);
                margin: 16px 8px;
            }

            .modal-button > a {
                box-sizing: border-box;
                width: 100%;
                padding: 8px 24px;
            }

            #closeBtn {
                position: absolute;
                right: 5px;
                top: 5px;
            }

            @media (max-width: 767px) {

                :host {
                    top: auto;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: auto;
                    -webkit-transform: translate3d(0, 100%, 0);
                    transform: translate3d(0, 100%, 0);
                }

            }

        </style>

        <div class="layout-horizontal">
            <div class="label">Added to cart</div>
        </div>
        <div class="layout-horizontal">
            <paper-button class="modal-button" on-tap="openCart" raised>
                View Cart
            </paper-button>
            <paper-button class="modal-button" on-tap="openCheckout" raised>
                Checkout
            </paper-button>
        </div>
        <paper-icon-button icon="undo" id="undoBtn" aria-label="Undo Action" on-tap="undoAdd"></paper-icon-button>
        <paper-icon-button icon="close" id="closeBtn" aria-label="Close dialog" on-tap="close"></paper-icon-button>

    </template>

    <script>

        Polymer({

            is: 'shop-cart-modal',

            behaviors: [
                Polymer.IronOverlayBehaviorImpl
            ],

            properties: {
                entry: {type: Object},
                withBackdrop: {
                    type: Boolean,
                    value: true
                }
            },

            hostAttributes: {
                role: 'dialog',
                'aria-modal': 'true'
            },

            listeners: {
                'transitionend': '_transitionEnd',
                'iron-overlay-canceled': '_onCancel'
            },
            undoAdd: function () {
                document.querySelector('shopping-cart').fire('set-cart-item', {
                    item: this.entry.item,
                    quantity: (this.entry.quantity - 1),
                    size: this.entry.size
                });
                this.close();
            },

            openCart: function () {
                this.close();
                document.querySelector('shopping-cart')._openShoppingCartDialog();

            },
            openCheckout: function () {
                this.close();
                document.querySelector('shopping-cart')._openCheckOutDialog();
            },

            _renderOpened: function () {
                this.restoreFocusOnClose = true;
                this.backdropElement.style.display = 'none';
                this.classList.add('opened');
            },

            _renderClosed: function () {
                this.classList.remove('opened');
            },

            _onCancel: function (e) {
                // Don't restore focus when the overlay is closed after a mouse event
                if (e.detail instanceof MouseEvent) {
                    this.restoreFocusOnClose = false;
                }
            },

            _transitionEnd: function (e) {
                if (e.target !== this || e.propertyName !== 'transform') {
                    return;
                }
                if (this.opened) {
                    this._finishRenderOpened();
                    this.fire('announce', 'Item added to the cart');
                } else {
                    this._finishRenderClosed();
                    this.backdropElement.style.display = '';
                }
            },

            get _focusableNodes() {
                return [this.$.viewCartAnchor, this.$.closeBtn];
            },

            refit: Function(),

            notifyResize: Function()

        });

    </script>

</dom-module>
