<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../elements/grouped-select.html">

<link rel="import" href="pos-calc.html">


<dom-module id="pos-element">
    <style>
        :host {
        / / margin: 4 px;
            --grouped-select-height: 600px;
        }

        paper-dialog.pos-size-position {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
        }

        pos-calc {
            width: 100%;
        }
    </style>
    <template>
        <paper-button class="btn" on-tap="showDialog" raised>
            Open POS
        </paper-button>

        <paper-dialog class="pos-size-position" id="dialog" modal on-iron-overlay-closed="dismissDialog">

            <div class="layout horizontal">
                <h2 class="flex">[[title]]</h2>
                <paper-icon-button icon="icons:close" dialog-dismiss></paper-icon-button>
                <paper-icon-button icon="icons:check" dialog-confirm></paper-icon-button>
            </div>
            <div class="col-md-5">
                <pos-calc id="calc" color="[[color]]" on-alter="updateSelection"></pos-calc>
            </div>
            <div class="col-md-6" id="data_list"></div>
        </paper-dialog>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pos-element",
        properties: {
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
        },
        ready: function () {

            var target = this;

            var dynamicEl0 = '<grouped-select id="grouped_select" service="' + this.service + '" data_name="' + this.data_name + '" protocol="' + this.protocol + '" hostname="' + this.hostname + '" channel="' + this.channel + '" title="' + this.title + '" color="' + this.color + '" maxlength="' + this.maxlength + '" pattern="' + this.pattern + '" multi="true" required="' + this.required + '">'
                    + '</grouped-select>';
            Polymer.dom(this.$.data_list).innerHTML = dynamicEl0;


            var grouped_select = Polymer.dom(this.$.dialog).querySelector("#grouped_select");

            //grouped_select.selection = [161,162]

            grouped_select.addEventListener("selected", function (e) {
                //if(e.detail!="")
                var items = e.detail;
                var p = target.$.calc;
                var data = [];
                for (var i in items) {
                    for (var j in this.currentData[0]) {
                        if (this.currentData[0][j].index == items[i]) {
                            data.push(this.currentData[0][j]);
                        }
                    }
                }
                p.data = data;
            });

            this.updateSelection = function (e) {
                var selection = [];
                for (var i in e.detail) {
                    selection.push(e.detail[i].index);
                }
                grouped_select.selection = selection;
            }


            this.dismissDialog = function (event) {
            };
            this.showDialog = function () {
                target.$.dialog.toggle();
            };

        },
    });
</script>
