<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">


<dom-module id="pos-item">
    <style>
        :host {
        }

    </style>
    <template>
        <paper-material elevation="1">
            <paper-item>
                <paper-item-body two-line>
                    <div><span>[[name]]</span></div>
                    <div secondary>
                        <iron-icon icon="icons:label"></iron-icon>
                    </div>
                </paper-item-body>

                <paper-item-body two-line>
                    <div><span>[[quantity]]</span></div>
                    <div secondary>
                        <iron-icon icon="icons:card-giftcard"></iron-icon>
                    </div>
                </paper-item-body>

                <paper-item-body two-line>
                    <div><span>[[price]]</span></div>
                    <div secondary>
                        <iron-icon icon="editor:attach-money"></iron-icon>
                    </div>
                </paper-item-body>

                <paper-item-body two-line>
                    <div><span>[[sub_total]]</span></div>
                    <div secondary>
                        <iron-icon icon="editor:attach-money"></iron-icon>
                    </div>
                </paper-item-body>

                <paper-icon-button on-tap="removeItem" icon="icons:remove-circle"></paper-icon-button>
            </paper-item>
            <paper-material>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pos-item",
        properties: {
            index: Number,
            name: String,
            quantity: Number,
            price: Number,
            vat: Number,
            posReady: {type: Boolean, observer: 'posReadyChanged',},
        },
        ready: function () {

            this.calc = {};
            var target = this;

            this.removeItem = function () {
                target.fire("delete", target.index);
            }

        },
        posReadyChanged: function () {
            this.setDetails();

        },
        setDetails: function () {
            this.sub_total = parseFloat(parseFloat(this.price) * parseFloat(this.quantity)).toFixed(2)
            this.tax = parseFloat((parseFloat(this.vat) / 100) * parseFloat(this.sub_total)).toFixed(2);
            this.total = parseFloat(this.sub_total) + parseFloat(this.tax);

            this.calc['sub_total'] = this.sub_total;
            this.calc['tax'] = this.tax;
            this.calc['total'] = this.total;
            console.log("Calc items: " + JSON.stringify(this.calc));
            this.fire("detail", this.index);
        },
    });
</script>

